@charset "UTF-8";
.debug-only {
  display: none;
  visibility: hidden;
  height: 0;
  position: relative;
}

body.debug-content .d-flex,
body.debug-site .d-flex {
  display: flex;
}
body.debug-content .flex-wrap,
body.debug-site .flex-wrap {
  flex-wrap: wrap;
}
body.debug-content .col-3,
body.debug-content .col-9,
body.debug-site .col-3,
body.debug-site .col-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
body.debug-content .col-3,
body.debug-site .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
body.debug-content .col-9,
body.debug-site .col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
body.debug-content .m-0,
body.debug-site .m-0 {
  margin: 0;
}
body.debug-content .m-3,
body.debug-site .m-3 {
  margin: 1em;
}
body.debug-content .mb-3,
body.debug-site .mb-3 {
  margin-bottom: 1em;
}
body.debug-content .p-1,
body.debug-site .p-1 {
  padding: 0.25em;
}
body.debug-content .font-italic,
body.debug-site .font-italic {
  font-style: italic;
}
body.debug-content .text-black,
body.debug-site .text-black {
  color: #000000 !important;
}
body.debug-content .bg-white,
body.debug-site .bg-white {
  background-color: #ffffff !important;
}
body.debug-content .bg-success,
body.debug-site .bg-success {
  background-color: #a0c33b !important;
}
body.debug-content .border,
body.debug-site .border {
  border: 1px solid #000000;
}
body.debug-content .border-success,
body.debug-site .border-success {
  border-color: #a0c33b !important;
}

body.debug-content .debug-only {
  display: block;
  visibility: visible;
  height: auto;
}
body.debug-content .debug-author-content {
  background-color: #ffffff;
}
body.debug-content .debug-author-content iframe,
body.debug-content .debug-author-content img {
  filter: grayscale(1) !important;
}
body.debug-content .debug-author-content .flex-shrink-0 {
  flex-shrink: 1 !important;
}
body.debug-content .debug-author-content h1, body.debug-content .debug-author-content h2, body.debug-content .debug-author-content h3, body.debug-content .debug-author-content h4, body.debug-content .debug-author-content h5, body.debug-content .debug-author-content h6,
body.debug-content .debug-author-content p,
body.debug-content .debug-author-content a,
body.debug-content .debug-author-content li,
body.debug-content .debug-author-content dt,
body.debug-content .debug-author-content dd,
body.debug-content .debug-author-content blockquote,
body.debug-content .debug-author-content hr,
body.debug-content .debug-author-content [class*=text-] {
  color: #373839 !important;
}
body.debug-content .debug-author-content [class*=bg-],
body.debug-content .debug-author-content [class*=btn-] {
  background-color: #e5e6e6 !important;
  color: #373839 !important;
  border-color: #58595b !important;
}
body.debug-content .debug-author-content [class*=btn-]:active, body.debug-content .debug-author-content [class*=btn-]:focus, body.debug-content .debug-author-content [class*=btn-]:hover {
  background-color: #ffffff !important;
}
body.debug-content .debug-author-content .bg-success {
  background: #a0c33b !important;
}
body.debug-content .debug-author-content .might-be-fluff {
  outline: 3px solid #a0c33b !important;
}
body.debug-content .debug-author-content .might-be-fluff::before {
  content: 'Can text be more focused? Possible "fluff" detected: "' attr(fluff) '"' !important;
  background: #a0c33b !important;
  color: #000000 !important;
  contain: content;
  width: fit-content;
  font: 500 normal 1em sans-serif !important;
  padding: 3px 3px 0 !important;
  pointer-events: none !important;
  text-decoration: none !important;
  z-index: 2147483644 !important;
}
body.debug-content .debug-author-content [href^="http:"]:not([class*=-link]):not([role=button]) {
  outline: 3px solid #a0c33b;
}
body.debug-content .debug-author-content [href^="http:"]:not([class*=-link]):not([role=button])::after {
  background: #a0c33b;
  color: #000000 !important;
  contain: content;
  font: 500 normal 1em sans-serif !important;
  padding: 3px 3px 0 !important;
  margin-left: 3px !important;
  pointer-events: none !important;
  text-decoration: none !important;
  z-index: 2147483644 !important;
}
body.debug-content .debug-author-content [href^="http:"]:not([class*=-link]):not([role=button])::after {
  content: "Should link be secure (start with https)?";
}
body.debug-content .debug-author-content a.duplicate-link,
body.debug-content .debug-author-content a.duplicate-link-text,
body.debug-content .debug-author-content a.long-link,
body.debug-content .debug-author-content a.error-403:not(.nav-link):not([role=button]),
body.debug-content .debug-author-content a.explaining-link,
body.debug-content .debug-author-content p.should-be-heading,
body.debug-content .debug-author-content p.should-be-list,
body.debug-content .debug-author-content p.wall-of-text,
body.debug-content .debug-author-content strong.long-strong,
body.debug-content .debug-author-content hr + h2,
body.debug-content .debug-author-content hr + h3,
body.debug-content .debug-author-content hr + h4,
body.debug-content .debug-author-content hr + h5,
body.debug-content .debug-author-content hr + h6,
body.debug-content .debug-author-content h2.long-heading,
body.debug-content .debug-author-content h3.long-heading,
body.debug-content .debug-author-content h4.long-heading,
body.debug-content .debug-author-content h5.long-heading,
body.debug-content .debug-author-content h6.long-heading,
body.debug-content .debug-author-content h2.not-title-case,
body.debug-content .debug-author-content h3.not-title-case,
body.debug-content .debug-author-content h4.not-title-case,
body.debug-content .debug-author-content h5.not-title-case,
body.debug-content .debug-author-content h6.not-title-case,
body.debug-content .debug-author-content h2.should-be-list,
body.debug-content .debug-author-content h3.should-be-list,
body.debug-content .debug-author-content h4.should-be-list,
body.debug-content .debug-author-content h5.should-be-list,
body.debug-content .debug-author-content h6.should-be-list,
body.debug-content .debug-author-content ul > :not(li),
body.debug-content .debug-author-content ol > :not(li),
body.debug-content .debug-author-content :not(ul):not(ol) > li,
body.debug-content .debug-author-content dt + :not(dd),
body.debug-content .debug-author-content dl.invalid-dl,
body.debug-content .debug-author-content :not(dt):not(dd) + dd,
body.debug-content .debug-author-content :not(dl) > dt,
body.debug-content .debug-author-content :not(dl) > dd,
body.debug-content .debug-author-content dl > :not(dt):not(dd):not(div),
body.debug-content .debug-author-content :not(tr) > td,
body.debug-content .debug-author-content :not(tr) > th,
body.debug-content .debug-author-content tr > :not(td):not(th),
body.debug-content .debug-author-content table > *:not(thead):not(tfoot):not(tbody):not(tr):not(colgroup):not(caption),
body.debug-content .debug-author-content table:not([role=presentation]) > caption:not(:first-child),
body.debug-content .debug-author-content table:not([role=presentation]) > *:first-child:not(caption),
body.debug-content .debug-author-content table > tbody:first-child > tr:first-child > td:first-child,
body.debug-content .debug-author-content address h2,
body.debug-content .debug-author-content address h3,
body.debug-content .debug-author-content address h4,
body.debug-content .debug-author-content address h5,
body.debug-content .debug-author-content address h6,
body.debug-content .debug-author-content address address {
  outline: 3px solid #febe10 !important;
}
body.debug-content .debug-author-content a.duplicate-link::after,
body.debug-content .debug-author-content a.duplicate-link-text::after,
body.debug-content .debug-author-content a.long-link::after,
body.debug-content .debug-author-content a.error-403:not(.nav-link):not([role=button])::after,
body.debug-content .debug-author-content a.explaining-link::after,
body.debug-content .debug-author-content p.should-be-heading::after,
body.debug-content .debug-author-content p.should-be-list::after,
body.debug-content .debug-author-content p.wall-of-text::after,
body.debug-content .debug-author-content strong.long-strong::after,
body.debug-content .debug-author-content hr + h2::after,
body.debug-content .debug-author-content hr + h3::after,
body.debug-content .debug-author-content hr + h4::after,
body.debug-content .debug-author-content hr + h5::after,
body.debug-content .debug-author-content hr + h6::after,
body.debug-content .debug-author-content h2.long-heading::after,
body.debug-content .debug-author-content h3.long-heading::after,
body.debug-content .debug-author-content h4.long-heading::after,
body.debug-content .debug-author-content h5.long-heading::after,
body.debug-content .debug-author-content h6.long-heading::after,
body.debug-content .debug-author-content h2.not-title-case::after,
body.debug-content .debug-author-content h3.not-title-case::after,
body.debug-content .debug-author-content h4.not-title-case::after,
body.debug-content .debug-author-content h5.not-title-case::after,
body.debug-content .debug-author-content h6.not-title-case::after,
body.debug-content .debug-author-content h2.should-be-list::after,
body.debug-content .debug-author-content h3.should-be-list::after,
body.debug-content .debug-author-content h4.should-be-list::after,
body.debug-content .debug-author-content h5.should-be-list::after,
body.debug-content .debug-author-content h6.should-be-list::after,
body.debug-content .debug-author-content ul > :not(li)::after,
body.debug-content .debug-author-content ol > :not(li)::after,
body.debug-content .debug-author-content :not(ul):not(ol) > li::after,
body.debug-content .debug-author-content dt + :not(dd)::after,
body.debug-content .debug-author-content dl.invalid-dl::after,
body.debug-content .debug-author-content :not(dt):not(dd) + dd::after,
body.debug-content .debug-author-content :not(dl) > dt::after,
body.debug-content .debug-author-content :not(dl) > dd::after,
body.debug-content .debug-author-content dl > :not(dt):not(dd):not(div)::after,
body.debug-content .debug-author-content :not(tr) > td::after,
body.debug-content .debug-author-content :not(tr) > th::after,
body.debug-content .debug-author-content tr > :not(td):not(th)::after,
body.debug-content .debug-author-content table > *:not(thead):not(tfoot):not(tbody):not(tr):not(colgroup):not(caption)::after,
body.debug-content .debug-author-content table:not([role=presentation]) > caption:not(:first-child)::after,
body.debug-content .debug-author-content table:not([role=presentation]) > *:first-child:not(caption)::after,
body.debug-content .debug-author-content table > tbody:first-child > tr:first-child > td:first-child::after,
body.debug-content .debug-author-content address h2::after,
body.debug-content .debug-author-content address h3::after,
body.debug-content .debug-author-content address h4::after,
body.debug-content .debug-author-content address h5::after,
body.debug-content .debug-author-content address h6::after,
body.debug-content .debug-author-content address address::after {
  background: #febe10 !important;
  color: #000000 !important;
  contain: content;
  font: 500 normal 1em sans-serif !important;
  padding: 3px 3px 0 !important;
  margin-left: 3px !important;
  pointer-events: none !important;
  text-decoration: none !important;
  z-index: 2147483646 !important;
}
body.debug-content .debug-author-content a.long-link::after {
  content: "Can this link text be shorter and still describe its destination?" !important;
}
body.debug-content .debug-author-content a.duplicate-link::after {
  content: "Duplicate link URL with new text; is it redundant or confusing?" !important;
}
body.debug-content .debug-author-content a.duplicate-link.duplicate-link-text::after {
  content: "Duplicate link text and URL; is it redundant?" !important;
}
body.debug-content .debug-author-content a.error-403:not(.nav-link):not([role=button])::after {
  content: "Should link destination be public?" !important;
}
body.debug-content .debug-author-content a.explaining-link::after {
  content: "Don't explain how links work. Does \"" attr(explaining) '" describe link destination?';
}
body.debug-content .debug-author-content p.wall-of-text::after {
  content: "Wall of text: can this be shorter paragraphs or a list?" !important;
}
body.debug-content .debug-author-content strong.long-strong::after {
  content: "Bold text impairs reading comprehension; emphasize fewer words?" !important;
}
body.debug-content .debug-author-content p.should-be-heading::after {
  content: "Should this be a heading or part of a description list?" !important;
}
body.debug-content .debug-author-content p.should-be-list::after {
  content: "Should this be in a list?" !important;
}
body.debug-content .debug-author-content hr + h2::after,
body.debug-content .debug-author-content hr + h3::after,
body.debug-content .debug-author-content hr + h4::after,
body.debug-content .debug-author-content hr + h5::after,
body.debug-content .debug-author-content hr + h6::after {
  content: "A horizontal line is for a thematic pause within a section; a heading starts a new section. Do you need both?";
}
body.debug-content .debug-author-content h2.long-heading::after,
body.debug-content .debug-author-content h3.long-heading::after,
body.debug-content .debug-author-content h4.long-heading::after,
body.debug-content .debug-author-content h5.long-heading::after,
body.debug-content .debug-author-content h6.long-heading::after {
  content: "Can this heading be shorter and still label its content?" !important;
}
body.debug-content .debug-author-content h2.should-be-list::after,
body.debug-content .debug-author-content h3.should-be-list::after,
body.debug-content .debug-author-content h4.should-be-list::after,
body.debug-content .debug-author-content h5.should-be-list::after,
body.debug-content .debug-author-content h6.should-be-list::after {
  content: "Should this be in a list?" !important;
}
body.debug-content .debug-author-content h2.not-title-case::after,
body.debug-content .debug-author-content h3.not-title-case::after,
body.debug-content .debug-author-content h4.not-title-case::after,
body.debug-content .debug-author-content h5.not-title-case::after,
body.debug-content .debug-author-content h6.not-title-case::after {
  content: "Is this heading in Title Case? (see TitleCaseConverter.com) Are acronyms spelled out nearby?" !important;
}
body.debug-content .debug-author-content ul > :not(li)::after,
body.debug-content .debug-author-content ol > :not(li)::after,
body.debug-content .debug-author-content :not(ul):not(ol) > li::after {
  content: "Invalid <li> nesting" !important;
}
body.debug-content .debug-author-content dt + :not(dd)::after,
body.debug-content .debug-author-content :not(dt):not(dd) + dd::after {
  content: "The previous description term/question must have a value/answer" !important;
}
body.debug-content .debug-author-content dl.invalid-dl::after {
  content: "Description lists must have both terms and values (or questions and answers)" !important;
}
body.debug-content .debug-author-content :not(dl) > dt::after, body.debug-content .debug-author-content :not(dl) > dd::after,
body.debug-content .debug-author-content dl > :not(dt):not(dd):not(div)::after {
  content: "Invalid description list child" !important;
}
body.debug-content .debug-author-content table:not([role=presentation]) > caption:not(:first-child)::after,
body.debug-content .debug-author-content table:not([role=presentation]) > *:first-child:not(caption)::after {
  content: "Consider editing this table to add a caption describing its purpose" !important;
}
body.debug-content .debug-author-content :not(tr) > td::after,
body.debug-content .debug-author-content :not(tr) > th::after,
body.debug-content .debug-author-content tr > :not(td):not(th)::after,
body.debug-content .debug-author-content table > *:not(thead):not(tfoot):not(tbody):not(tr):not(colgroup):not(caption)::after {
  content: "Invalid nesting" !important;
}
body.debug-content .debug-author-content table > tbody:first-child > tr:first-child > td:first-child::after {
  content: "This table needs headers for accessibility.";
}
body.debug-content .debug-author-content address h2::after,
body.debug-content .debug-author-content address h3::after,
body.debug-content .debug-author-content address h4::after,
body.debug-content .debug-author-content address h5::after,
body.debug-content .debug-author-content address h6::after {
  content: "<address> elements can't have headings within them" !important;
}
body.debug-content .debug-author-content address address::after {
  content: "<address> elements can't be nested" !important;
}
body.debug-content .debug-author-content a:not(.duplicate-link).duplicate-link-text,
body.debug-content .debug-author-content a.format-link:not([role=button]),
body.debug-content .debug-author-content a.bad-link:not([role=button]),
body.debug-content .debug-author-content a.url-link,
body.debug-content .debug-author-content a.email-link,
body.debug-content .debug-author-content a.short-link:not([role=button]),
body.debug-content .debug-author-content a[href=""]:not(.chosen-single):not([onclick]),
body.debug-content .debug-author-content a[href=" "]:not(.chosen-single):not([onclick]),
body.debug-content .debug-author-content a:empty[title=""],
body.debug-content .debug-author-content a:empty[aria-label=""],
body.debug-content .debug-author-content a:empty[aria-labelledby=""],
body.debug-content .debug-author-content a:empty:not([title]):not([aria-label]):not([aria-labelledby]),
body.debug-content .debug-author-content a[href^="#"]:not([role=button]):not([onclick]),
body.debug-content .debug-author-content a:not([href]),
body.debug-content .debug-author-content a.error-404:not([role=button]),
body.debug-content .debug-author-content h2 > a,
body.debug-content .debug-author-content h3 > a,
body.debug-content .debug-author-content h4 > a,
body.debug-content .debug-author-content h5 > a,
body.debug-content .debug-author-content h6 > a,
body.debug-content .debug-author-content h3[class*=should-be-h],
body.debug-content .debug-author-content h4[class*=should-be-h],
body.debug-content .debug-author-content h5[class*=should-be-h],
body.debug-content .debug-author-content h6[class*=should-be-h],
body.debug-content .debug-author-content h2 + h2,
body.debug-content .debug-author-content h3 + h2,
body.debug-content .debug-author-content h3 + h3,
body.debug-content .debug-author-content h4 + h2,
body.debug-content .debug-author-content h4 + h3,
body.debug-content .debug-author-content h4 + h4,
body.debug-content .debug-author-content h5 + h2,
body.debug-content .debug-author-content h5 + h3,
body.debug-content .debug-author-content h5 + h4,
body.debug-content .debug-author-content h5 + h5,
body.debug-content .debug-author-content h6 + h2,
body.debug-content .debug-author-content h6 + h3,
body.debug-content .debug-author-content h6 + h4,
body.debug-content .debug-author-content h6 + h5,
body.debug-content .debug-author-content h6 + h6 {
  outline: 3px solid #f47847 !important;
}
body.debug-content .debug-author-content a:not(.duplicate-link).duplicate-link-text::after,
body.debug-content .debug-author-content a.format-link:not([role=button])::after,
body.debug-content .debug-author-content a.bad-link:not([role=button])::after,
body.debug-content .debug-author-content a.url-link::after,
body.debug-content .debug-author-content a.email-link::after,
body.debug-content .debug-author-content a.short-link:not([role=button])::after,
body.debug-content .debug-author-content a[href=""]:not(.chosen-single):not([onclick])::after,
body.debug-content .debug-author-content a[href=" "]:not(.chosen-single):not([onclick])::after,
body.debug-content .debug-author-content a:empty[title=""]::after,
body.debug-content .debug-author-content a:empty[aria-label=""]::after,
body.debug-content .debug-author-content a:empty[aria-labelledby=""]::after,
body.debug-content .debug-author-content a:empty:not([title]):not([aria-label]):not([aria-labelledby])::after,
body.debug-content .debug-author-content a[href^="#"]:not([role=button]):not([onclick])::after,
body.debug-content .debug-author-content a:not([href])::after,
body.debug-content .debug-author-content a.error-404:not([role=button])::after,
body.debug-content .debug-author-content h2 > a::after,
body.debug-content .debug-author-content h3 > a::after,
body.debug-content .debug-author-content h4 > a::after,
body.debug-content .debug-author-content h5 > a::after,
body.debug-content .debug-author-content h6 > a::after,
body.debug-content .debug-author-content h3[class*=should-be-h]::after,
body.debug-content .debug-author-content h4[class*=should-be-h]::after,
body.debug-content .debug-author-content h5[class*=should-be-h]::after,
body.debug-content .debug-author-content h6[class*=should-be-h]::after,
body.debug-content .debug-author-content h2 + h2::after,
body.debug-content .debug-author-content h3 + h2::after,
body.debug-content .debug-author-content h3 + h3::after,
body.debug-content .debug-author-content h4 + h2::after,
body.debug-content .debug-author-content h4 + h3::after,
body.debug-content .debug-author-content h4 + h4::after,
body.debug-content .debug-author-content h5 + h2::after,
body.debug-content .debug-author-content h5 + h3::after,
body.debug-content .debug-author-content h5 + h4::after,
body.debug-content .debug-author-content h5 + h5::after,
body.debug-content .debug-author-content h6 + h2::after,
body.debug-content .debug-author-content h6 + h3::after,
body.debug-content .debug-author-content h6 + h4::after,
body.debug-content .debug-author-content h6 + h5::after,
body.debug-content .debug-author-content h6 + h6::after {
  background: #f47847 !important;
  color: #000000 !important;
  contain: content;
  font: 500 normal 1em sans-serif !important;
  padding: 3px 3px 0 !important;
  margin-left: 3px !important;
  pointer-events: none !important;
  text-decoration: none !important;
  z-index: 2147483647 !important;
}
body.debug-content .debug-author-content h2 + h2::after,
body.debug-content .debug-author-content h3 + h2::after,
body.debug-content .debug-author-content h3 + h3::after,
body.debug-content .debug-author-content h4 + h2::after,
body.debug-content .debug-author-content h4 + h3::after,
body.debug-content .debug-author-content h4 + h4::after,
body.debug-content .debug-author-content h5 + h2::after,
body.debug-content .debug-author-content h5 + h3::after,
body.debug-content .debug-author-content h5 + h4::after,
body.debug-content .debug-author-content h5 + h5::after,
body.debug-content .debug-author-content h6 + h2::after,
body.debug-content .debug-author-content h6 + h3::after,
body.debug-content .debug-author-content h6 + h4::after,
body.debug-content .debug-author-content h6 + h5::after,
body.debug-content .debug-author-content h6 + h6::after {
  content: "Previous heading has no content; remove it or add content" !important;
}
body.debug-content .debug-author-content h3.should-be-h2::after,
body.debug-content .debug-author-content h4.should-be-h2::after,
body.debug-content .debug-author-content h5.should-be-h2::after,
body.debug-content .debug-author-content h6.should-be-h2::after {
  content: "Headings must start at level 2" !important;
}
body.debug-content .debug-author-content h4.should-be-h3::after,
body.debug-content .debug-author-content h5.should-be-h3::after,
body.debug-content .debug-author-content h6.should-be-h3::after {
  content: "Headings may not skip levels; should be level 3" !important;
}
body.debug-content .debug-author-content h5.should-be-h4::after,
body.debug-content .debug-author-content h6.should-be-h4::after {
  content: "Headings may not skip levels; should be level 4" !important;
}
body.debug-content .debug-author-content h6.should-be-h5::after {
  content: "Headings may not skip levels; should be level 5" !important;
}
body.debug-content .debug-author-content h2 > a::after,
body.debug-content .debug-author-content h3 > a::after,
body.debug-content .debug-author-content h4 > a::after,
body.debug-content .debug-author-content h5 > a::after,
body.debug-content .debug-author-content h6 > a::after {
  content: "Headings may not contain links" !important;
}
body.debug-content .debug-author-content a:not(.duplicate-link).duplicate-link-text::after {
  content: "Duplicate link text on new URL; fix to avoid confusion" !important;
}
body.debug-content .debug-author-content a.format-link:not([role=button])::after {
  content: "Link text must include format, e.g., " attr(format-note) !important;
}
body.debug-content .debug-author-content a.bad-link:not([role=button])::after {
  content: "Link text must describe destination" !important;
}
body.debug-content .debug-author-content a.url-link::after {
  content: "Link text must use human-friendly language to describe destination; do not use a URL" !important;
}
body.debug-content .debug-author-content a.email-link::after {
  content: "Email links must use the email address as the link text" !important;
}
body.debug-content .debug-author-content a.short-link:not([role=button])::after {
  content: "Link text too short and must describe destination" !important;
}
body.debug-content .debug-author-content a[href^="#"]:not([role=button]):not([onclick])::after,
body.debug-content .debug-author-content a:not([href])::after {
  content: "Link has no destination" !important;
}
body.debug-content .debug-author-content a[href=""]:not(.chosen-single):not([onclick])::after,
body.debug-content .debug-author-content a[href=" "]:not(.chosen-single):not([onclick])::after {
  content: "Empty [href]" !important;
}
body.debug-content .debug-author-content a:empty[title=""]::after,
body.debug-content .debug-author-content a:empty[aria-label=""]::after,
body.debug-content .debug-author-content a:empty[aria-labelledby=""]::after,
body.debug-content .debug-author-content a:empty:not([title]):not([aria-label]):not([aria-labelledby])::after {
  content: "Empty link" !important;
}
body.debug-content .debug-author-content a.error-404:not([role=button])::after {
  content: "Broken link (page not found)" !important;
}

body.debug-site main::before {
  content: "Site debugging on" !important;
  background: #a0c33b !important;
  color: #000000 !important;
  contain: content;
  font: 500 normal 1em sans-serif !important;
  padding: 3px !important;
  z-index: 2147483644 !important;
}
body.debug-site .debug-only {
  display: block;
  visibility: visible;
  height: auto;
}
body.debug-site iframe,
body.debug-site img {
  filter: grayscale(1) !important;
}
body.debug-site select[required]:not([multiple])[size="1"],
body.debug-site select[required]:not([multiple]):not([size]),
body.debug-site figcaption:not(:first-of-type),
body.debug-site figcaption:not(:first-child):not(:last-child),
body.debug-site [target$=blank],
body.debug-site [role=main] ~ [role=main],
body.debug-site [role=search] ~ [role=search],
body.debug-site [role=banner] ~ [role=banner],
body.debug-site [role=contentinfo] ~ [role=contentinfo],
body.debug-site form:not(.gsc-search-box)[id*=search]:not([role=search]),
body.debug-site form:not(.gsc-search-box)[class*=search]:not([role=search]),
body.debug-site input[id*=search]:not([role=search]):not([type=submit]),
body.debug-site input:not(.chosen-search-input)[class*=search]:not([role=search]):not([type=submit]),
body.debug-site [hidden]:not(:empty),
body.debug-site [aria-hidden=true]:not(.svg-layers):not(.form-select):not(:empty),
body.debug-site [placeholder]:not([title]):not([aria-label]):not([aria-labelledby]),
body.debug-site table:not(.gsc-input):not(.gsc-search-box)[role=presentation],
body.debug-site [src^="http:"], body.debug-site:not(.local) [href^="http:"]:not([role=button]) {
  outline: 3px solid #a0c33b;
}
body.debug-site select[required]:not([multiple])[size="1"]::after,
body.debug-site select[required]:not([multiple]):not([size])::after,
body.debug-site figcaption:not(:first-of-type)::after,
body.debug-site figcaption:not(:first-child):not(:last-child)::after,
body.debug-site [target$=blank]::after,
body.debug-site [role=main] ~ [role=main]::after,
body.debug-site [role=search] ~ [role=search]::after,
body.debug-site [role=banner] ~ [role=banner]::after,
body.debug-site [role=contentinfo] ~ [role=contentinfo]::after,
body.debug-site form:not(.gsc-search-box)[id*=search]:not([role=search])::after,
body.debug-site form:not(.gsc-search-box)[class*=search]:not([role=search])::after,
body.debug-site input[id*=search]:not([role=search]):not([type=submit])::after,
body.debug-site input:not(.chosen-search-input)[class*=search]:not([role=search]):not([type=submit])::after,
body.debug-site [hidden]:not(:empty)::after,
body.debug-site [aria-hidden=true]:not(.svg-layers):not(.form-select):not(:empty)::after,
body.debug-site [placeholder]:not([title]):not([aria-label]):not([aria-labelledby])::after,
body.debug-site table:not(.gsc-input):not(.gsc-search-box)[role=presentation]::after,
body.debug-site [src^="http:"]::after, body.debug-site:not(.local) [href^="http:"]:not([role=button])::after {
  background: #a0c33b;
  color: #000000 !important;
  contain: content;
  font: 500 normal 1em sans-serif !important;
  padding: 3px 3px 0 !important;
  margin-left: 3px !important;
  pointer-events: none !important;
  text-decoration: none !important;
  z-index: 2147483644 !important;
}
body.debug-site:not(.local) [src^="http:"]::after {
  content: "SRC should start with https";
}
body.debug-site:not(.local) [href^="http:"]:not([role=button])::after {
  content: "Should link start with https?";
}
body.debug-site select[required]:not([multiple])[size="1"] + ::after,
body.debug-site select[required]:not([multiple]):not([size]) + ::after {
  content: '<select required> should start with <option value="">' !important;
}
body.debug-site figcaption:not(:first-of-type)::after {
  content: "Second <figcaption>" !important;
}
body.debug-site figcaption:not(:first-child):not(:last-child)::after {
  content: "Wrong order for <figcaption>" !important;
}
body.debug-site [target$=blank]::after {
  content: "Link opening a new tab" !important;
}
body.debug-site [role=main] ~ [role=main]::after,
body.debug-site [role=search] ~ [role=search]::after,
body.debug-site [role=banner] ~ [role=banner]::after,
body.debug-site [role=contentinfo] ~ [role=contentinfo]::after {
  content: "Second " attr(role) " role" !important;
}
body.debug-site form:not(.gsc-search-box)[id*=search]:not([role=search])::after,
body.debug-site form:not(.gsc-search-box)[class*=search]:not([role=search])::after {
  content: "Is [role=search] defined?" !important;
}
body.debug-site input[id*=search]:not([role=search]):not([type=submit]) + ::after,
body.debug-site input:not(.chosen-search-input)[class*=search]:not([role=search]):not([type=submit]) + ::after {
  content: "Is [role=search] defined?" !important;
}
body.debug-site [hidden]:not(:empty)::after,
body.debug-site [aria-hidden=true]:not(.svg-layers):not(.form-select):not(:empty)::after {
  content: "Hidden element" !important;
}
body.debug-site [placeholder]:not([title]):not([aria-label]):not([aria-labelledby]) + ::after {
  content: "Placeholder can’t replace <label>" !important;
}
body.debug-site table:not(.gsc-input):not(.gsc-search-box)[role=presentation]::after {
  content: "Layout table" !important;
}
body.debug-site ul > :not(li),
body.debug-site ol > :not(li),
body.debug-site :not(ul):not(ol) > li,
body.debug-site dt + :not(dd),
body.debug-site :not(dt):not(dd) + dd,
body.debug-site :not(dl) > dt,
body.debug-site :not(dl) > dd,
body.debug-site dl > :not(dt):not(dd):not(div),
body.debug-site dl.invalid-dl,
body.debug-site :not(figure) > figcaption,
body.debug-site figure:not([role=group]),
body.debug-site nav main,
body.debug-site aside main,
body.debug-site footer main,
body.debug-site header main,
body.debug-site article main, body.debug-site :not(tr) > td, body.debug-site :not(tr) > th,
body.debug-site colgroup *:not(col), body.debug-site :not(colgroup) > col,
body.debug-site tr > :not(td):not(th),
body.debug-site optgroup > :not(option), body.debug-site :not(select) > optgroup, body.debug-site :not(fieldset) > legend,
body.debug-site select > :not(option):not(optgroup), body.debug-site :not(select):not(optgroup) > option,
body.debug-site table > *:not(thead):not(tfoot):not(tbody):not(tr):not(colgroup):not(caption),
body.debug-site b div,
body.debug-site i div,
body.debug-site q div,
body.debug-site em div,
body.debug-site cite div,
body.debug-site code div,
body.debug-site span div,
body.debug-site small div,
body.debug-site label div,
body.debug-site strong div,
body.debug-site aside > aside:first-child,
body.debug-site article > aside:first-child,
body.debug-site aside > article:first-child,
body.debug-site aside > section:first-child,
body.debug-site section > section:first-child,
body.debug-site article > section:first-child,
body.debug-site article > article:first-child,
body.debug-site fieldset > *:not(legend):first-child,
body.debug-site fieldset > legend:not(:first-child),
body.debug-site details > *:not(summary):first-child,
body.debug-site details > summary:not(:first-child),
body.debug-site img[alt=""],
body.debug-site area[alt=""],
body.debug-site input[type=image][alt=""],
body.debug-site embed[type=image][alt=""],
body.debug-site object[type=image][alt=""],
body.debug-site img[alt=""][title],
body.debug-site img[alt=""][aria-label],
body.debug-site img[alt=""][aria-labelledby],
body.debug-site img[alt=""][aria-describedby],
body.debug-site svg[aria-hidden=true][title],
body.debug-site svg[aria-hidden=true][aria-label],
body.debug-site svg[aria-hidden=true][aria-labelledby],
body.debug-site svg[aria-hidden=true][aria-describedby],
body.debug-site video[autoplay],
body.debug-site audio[autoplay],
body.debug-site video:not([controls]),
body.debug-site audio:not([controls]),
body.debug-site *:empty:not([class]):not([hidden]):not([aria-hidden]):not([src]):not(button):not(a):not(iframe):not(textarea):not(area):not(base):not(br):not(col):not(command):not(embed):not(hr):not(img):not(input):not(keygen):not(link):not(meta):not(param):not(source):not(track):not(wbr):not(title),
body.debug-site table:not([role=presentation]) > tr:only-child,
body.debug-site table:not([role=presentation]) > tbody > tr:only-child,
body.debug-site table:not(.gsc-search-box) table,
body.debug-site table:not([role=presentation]) > caption:not(:first-child),
body.debug-site table:not([role=presentation]) > *:first-child:not(caption),
body.debug-site table > tfoot ~ thead,
body.debug-site table > tbody ~ tfoot,
body.debug-site table > tbody ~ thead,
body.debug-site table > tfoot ~ colgroup,
body.debug-site table > tbody ~ colgroup,
body.debug-site th:not([scope]):not([id]),
body.debug-site img[src*="1px.gif"]:not([role=presentation]),
body.debug-site img[src*="1x1.gif"]:not([role=presentation]),
body.debug-site img[src*="clear.gif"]:not([role=presentation]),
body.debug-site img[src*="spacer.gif"]:not([role=presentation]),
body.debug-site img[src*="dotclear.gif"]:not([role=presentation]),
body.debug-site img[src*="transparent.gif"]:not([role=presentation]),
body.debug-site img[src*="pixel-1x1-clear.gif"]:not([role=presentation]),
body.debug-site [class*=NaN],
body.debug-site [class*=null],
body.debug-site [class*=undefined],
body.debug-site [id*=NaN],
body.debug-site [id*=null],
body.debug-site [id*=undefined],
body.debug-site a[href^=javascript]:not([role=button]),
body.debug-site [target$=blank]:not([rel]),
body.debug-site [target$=blank]:not([rel*=noopener]),
body.debug-site [target$=blank]:not([rel*=noreferrer]),
body.debug-site [role=heading]:not([aria-level]),
body.debug-site label:not([for]) {
  outline: 3px solid #febe10 !important;
}
body.debug-site ul > :not(li)::after,
body.debug-site ol > :not(li)::after,
body.debug-site :not(ul):not(ol) > li::after,
body.debug-site dt + :not(dd)::after,
body.debug-site :not(dt):not(dd) + dd::after,
body.debug-site :not(dl) > dt::after,
body.debug-site :not(dl) > dd::after,
body.debug-site dl > :not(dt):not(dd):not(div)::after,
body.debug-site dl.invalid-dl::after,
body.debug-site :not(figure) > figcaption::after,
body.debug-site figure:not([role=group])::after,
body.debug-site nav main::after,
body.debug-site aside main::after,
body.debug-site footer main::after,
body.debug-site header main::after,
body.debug-site article main::after, body.debug-site :not(tr) > td::after, body.debug-site :not(tr) > th::after,
body.debug-site colgroup *:not(col)::after, body.debug-site :not(colgroup) > col::after,
body.debug-site tr > :not(td):not(th)::after,
body.debug-site optgroup > :not(option)::after, body.debug-site :not(select) > optgroup::after, body.debug-site :not(fieldset) > legend::after,
body.debug-site select > :not(option):not(optgroup)::after, body.debug-site :not(select):not(optgroup) > option::after,
body.debug-site table > *:not(thead):not(tfoot):not(tbody):not(tr):not(colgroup):not(caption)::after,
body.debug-site b div::after,
body.debug-site i div::after,
body.debug-site q div::after,
body.debug-site em div::after,
body.debug-site cite div::after,
body.debug-site code div::after,
body.debug-site span div::after,
body.debug-site small div::after,
body.debug-site label div::after,
body.debug-site strong div::after,
body.debug-site aside > aside:first-child::after,
body.debug-site article > aside:first-child::after,
body.debug-site aside > article:first-child::after,
body.debug-site aside > section:first-child::after,
body.debug-site section > section:first-child::after,
body.debug-site article > section:first-child::after,
body.debug-site article > article:first-child::after,
body.debug-site fieldset > *:not(legend):first-child::after,
body.debug-site fieldset > legend:not(:first-child)::after,
body.debug-site details > *:not(summary):first-child::after,
body.debug-site details > summary:not(:first-child)::after,
body.debug-site img[alt=""]::after,
body.debug-site area[alt=""]::after,
body.debug-site input[type=image][alt=""]::after,
body.debug-site embed[type=image][alt=""]::after,
body.debug-site object[type=image][alt=""]::after,
body.debug-site img[alt=""][title]::after,
body.debug-site img[alt=""][aria-label]::after,
body.debug-site img[alt=""][aria-labelledby]::after,
body.debug-site img[alt=""][aria-describedby]::after,
body.debug-site svg[aria-hidden=true][title]::after,
body.debug-site svg[aria-hidden=true][aria-label]::after,
body.debug-site svg[aria-hidden=true][aria-labelledby]::after,
body.debug-site svg[aria-hidden=true][aria-describedby]::after,
body.debug-site video[autoplay]::after,
body.debug-site audio[autoplay]::after,
body.debug-site video:not([controls])::after,
body.debug-site audio:not([controls])::after,
body.debug-site *:empty:not([class]):not([hidden]):not([aria-hidden]):not([src]):not(button):not(a):not(iframe):not(textarea):not(area):not(base):not(br):not(col):not(command):not(embed):not(hr):not(img):not(input):not(keygen):not(link):not(meta):not(param):not(source):not(track):not(wbr):not(title)::after,
body.debug-site table:not([role=presentation]) > tr:only-child::after,
body.debug-site table:not([role=presentation]) > tbody > tr:only-child::after,
body.debug-site table:not(.gsc-search-box) table::after,
body.debug-site table:not([role=presentation]) > caption:not(:first-child)::after,
body.debug-site table:not([role=presentation]) > *:first-child:not(caption)::after,
body.debug-site table > tfoot ~ thead::after,
body.debug-site table > tbody ~ tfoot::after,
body.debug-site table > tbody ~ thead::after,
body.debug-site table > tfoot ~ colgroup::after,
body.debug-site table > tbody ~ colgroup::after,
body.debug-site th:not([scope]):not([id])::after,
body.debug-site img[src*="1px.gif"]:not([role=presentation])::after,
body.debug-site img[src*="1x1.gif"]:not([role=presentation])::after,
body.debug-site img[src*="clear.gif"]:not([role=presentation])::after,
body.debug-site img[src*="spacer.gif"]:not([role=presentation])::after,
body.debug-site img[src*="dotclear.gif"]:not([role=presentation])::after,
body.debug-site img[src*="transparent.gif"]:not([role=presentation])::after,
body.debug-site img[src*="pixel-1x1-clear.gif"]:not([role=presentation])::after,
body.debug-site [class*=NaN]::after,
body.debug-site [class*=null]::after,
body.debug-site [class*=undefined]::after,
body.debug-site [id*=NaN]::after,
body.debug-site [id*=null]::after,
body.debug-site [id*=undefined]::after,
body.debug-site a[href^=javascript]:not([role=button])::after,
body.debug-site [target$=blank]:not([rel])::after,
body.debug-site [target$=blank]:not([rel*=noopener])::after,
body.debug-site [target$=blank]:not([rel*=noreferrer])::after,
body.debug-site [role=heading]:not([aria-level])::after,
body.debug-site label:not([for])::after {
  background: #febe10 !important;
  color: #000000 !important;
  contain: content;
  font: 500 normal 1em sans-serif !important;
  padding: 3px 3px 0 !important;
  margin-left: 3px !important;
  pointer-events: none !important;
  text-decoration: none !important;
  z-index: 2147483644 !important;
}
body.debug-site ul > :not(li)::after,
body.debug-site ol > :not(li)::after, body.debug-site :not(ul):not(ol) > li::after {
  content: "Invalid <li> nesting" !important;
}
body.debug-site dt + :not(dd)::after,
body.debug-site :not(dt):not(dd) + dd::after {
  content: "The previous description term/question must have a value/answer" !important;
}
body.debug-site dl.invalid-dl::after {
  content: "Description lists must have both terms and values (or questions and answers)" !important;
}
body.debug-site :not(dl) > dt::after, body.debug-site :not(dl) > dd::after,
body.debug-site dl > :not(dt):not(dd):not(div)::after {
  content: "Invalid description list child" !important;
}
body.debug-site :not(figure) > figcaption::after {
  content: "<figcaption> outside <figure>" !important;
}
body.debug-site figure:not([role=group])::after {
  content: "<figure> without [role=group]" !important;
}
body.debug-site nav main::after,
body.debug-site aside main::after,
body.debug-site footer main::after,
body.debug-site header main::after,
body.debug-site article main::after, body.debug-site :not(tr) > td::after, body.debug-site :not(tr) > th::after,
body.debug-site colgroup *:not(col)::after, body.debug-site :not(colgroup) > col::after,
body.debug-site tr > :not(td):not(th)::after,
body.debug-site optgroup > :not(option)::after, body.debug-site :not(select) > optgroup::after, body.debug-site :not(fieldset) > legend::after,
body.debug-site select > :not(option):not(optgroup)::after, body.debug-site :not(select):not(optgroup) > option::after,
body.debug-site table > *:not(thead):not(tfoot):not(tbody):not(tr):not(colgroup):not(caption)::after {
  content: "Invalid nesting" !important;
}
body.debug-site b div::after,
body.debug-site i div::after,
body.debug-site q div::after,
body.debug-site em div::after,
body.debug-site cite div::after,
body.debug-site code div::after,
body.debug-site span div::after,
body.debug-site small div::after,
body.debug-site label div::after,
body.debug-site strong div::after {
  content: "<div> in inline element" !important;
}
body.debug-site aside > aside:first-child::after,
body.debug-site article > aside:first-child::after,
body.debug-site aside > article:first-child::after,
body.debug-site aside > section:first-child::after,
body.debug-site section > section:first-child::after,
body.debug-site article > section:first-child::after,
body.debug-site article > article:first-child::after {
  content: "Misused sectioning tag" !important;
}
body.debug-site fieldset > *:not(legend):first-child::after,
body.debug-site fieldset > legend:not(:first-child)::after {
  content: "<fieldset> must start with <legend>" !important;
}
body.debug-site details > *:not(summary):first-child::after,
body.debug-site details > summary:not(:first-child)::after {
  content: "<details> must start with <summary>" !important;
}
body.debug-site img[alt=""] + ::after,
body.debug-site area[alt=""] + ::after,
body.debug-site input[type=image][alt=""] + ::after,
body.debug-site embed[type=image][alt=""]::after,
body.debug-site object[type=image][alt=""]::after {
  content: "Empty [alt]" !important;
}
body.debug-site img[alt=""][title] + ::after,
body.debug-site img[alt=""][aria-label] + ::after,
body.debug-site img[alt=""][aria-labelledby] + ::after,
body.debug-site img[alt=""][aria-describedby] + ::after,
body.debug-site svg[aria-hidden=true][title] + ::after,
body.debug-site svg[aria-hidden=true][aria-label] + ::after,
body.debug-site svg[aria-hidden=true][aria-labelledby] + ::after,
body.debug-site svg[aria-hidden=true][aria-describedby] + ::after {
  content: "Semantic attribute on a decorative image" !important;
}
body.debug-site video[autoplay] + ::after,
body.debug-site audio[autoplay] + ::after {
  content: "Autoplay" !important;
}
body.debug-site video:not([controls]) + ::after,
body.debug-site audio:not([controls]) + ::after {
  content: "Missing [controls]" !important;
}
body.debug-site *:empty:not([class]):not([hidden]):not([aria-hidden]):not([src]):not(button):not(a):not(iframe):not(textarea):not(area):not(base):not(br):not(col):not(command):not(embed):not(hr):not(img):not(input):not(keygen):not(link):not(meta):not(param):not(source):not(track):not(wbr):not(title)::after {
  content: "Empty element" !important;
}
body.debug-site table:not([role=presentation]) > tr:only-child::after,
body.debug-site table:not([role=presentation]) > tbody > tr:only-child::after {
  content: "Single row" !important;
}
body.debug-site table:not(.gsc-search-box) table::after {
  content: "Nested <table>s" !important;
}
body.debug-site table:not([role=presentation]) > caption:not(:first-child)::after,
body.debug-site table:not([role=presentation]) > *:first-child:not(caption)::after {
  content: "Data table should start with <caption>" !important;
}
body.debug-site table > tfoot ~ thead::after,
body.debug-site table > tbody ~ tfoot::after,
body.debug-site table > tbody ~ thead::after,
body.debug-site table > tfoot ~ colgroup::after,
body.debug-site table > tbody ~ colgroup::after,
body.debug-site table > tbody ~ colgroup::after {
  content: "Wrong order for <thead>, <tfoot> or <tbody>" !important;
}
body.debug-site table:not([role=presentation]) > caption + tbody::after,
body.debug-site table:not([role=presentation]) > tbody:first-child::after {
  content: "Missing <thead>" !important;
}
body.debug-site th:not([scope]):not([id])::after {
  content: "Missing [scope] or [id]" !important;
}
body.debug-site img[src*="1px.gif"]:not([role=presentation]) + ::after,
body.debug-site img[src*="1x1.gif"]:not([role=presentation]) + ::after,
body.debug-site img[src*="clear.gif"]:not([role=presentation]) + ::after,
body.debug-site img[src*="spacer.gif"]:not([role=presentation]) + ::after,
body.debug-site img[src*="dotclear.gif"]:not([role=presentation]) + ::after,
body.debug-site img[src*="transparent.gif"]:not([role=presentation]) + ::after,
body.debug-site img[src*="pixel-1x1-clear.gif"]:not([role=presentation]) + ::after {
  content: "spacer.gif" !important;
}
body.debug-site [class*=NaN]::after,
body.debug-site [class*=null]::after,
body.debug-site [class*=undefined]::after {
  content: "Bad computed value for [class]" !important;
}
body.debug-site [id*=NaN]::after,
body.debug-site [id*=null]::after,
body.debug-site [id*=undefined]::after {
  content: "Bad computed value for [id]" !important;
}
body.debug-site a[href^=javascript]:not([role=button])::after {
  content: "[href] starting with javascript:" !important;
}
body.debug-site [target$=blank]:not([rel])::after,
body.debug-site [target$=blank]:not([rel*=noopener])::after,
body.debug-site [target$=blank]:not([rel*=noreferrer])::after {
  content: "Unsafe [target]" !important;
}
body.debug-site [role=heading]:not([aria-level])::after {
  content: "No [aria-level]" !important;
}
body.debug-site label:not([for])::after {
  content: "Missing [for]" !important;
}
body.debug-site [tabindex]:not([tabindex="0"]):not([tabindex^="-"]),
body.debug-site a[href^="#"]:not([role=button]):not([onclick]),
body.debug-site a:not([href]),
body.debug-site a[href=""]:not(.chosen-single),
body.debug-site a[href=" "]:not(.chosen-single),
body.debug-site a:empty[title=""],
body.debug-site a:empty[aria-label=""],
body.debug-site a:empty[aria-labelledby=""],
body.debug-site a:empty:not([title]):not([aria-label]):not([aria-labelledby]),
body.debug-site img[alt=" "],
body.debug-site area[alt=" "],
body.debug-site input[type=image][alt=" "],
body.debug-site img:not([alt]),
body.debug-site area:not([alt]),
body.debug-site input[type=image]:not([alt]),
body.debug-site [role=img]:not([aria-label]):not([aria-labelledby]),
body.debug-site svg[role=img]:not([aria-label]):not([aria-labelledby]),
body.debug-site img:not([src]):not([srcset]),
body.debug-site input[type=image]:not([src]):not([srcset]),
body.debug-site img[src=""],
body.debug-site img[src=" "],
body.debug-site img[src="#"],
body.debug-site img[src="/"],
body.debug-site input[type=image][src=""],
body.debug-site input[type=image][src=" "],
body.debug-site input[type=image][src="#"],
body.debug-site input[type=image][src="/"],
body.debug-site img[srcset=""],
body.debug-site img[srcset=" "],
body.debug-site img[srcset="#"],
body.debug-site img[srcset="/"],
body.debug-site input[type=image][srcset=""],
body.debug-site input[type=image][srcset=" "],
body.debug-site input[type=image][srcset="#"],
body.debug-site input[type=image][srcset="/"],
body.debug-site label[for=""],
body.debug-site label[for=" "],
body.debug-site input:not([type=button]):not([type=submit]):not([type=hidden]):not([type=reset]):not([type=image]):not([id]):not([aria-label]):not([title]):not([aria-labelledby]),
body.debug-site textarea:not([id]):not([aria-label]):not([aria-labelledby]),
body.debug-site select:not([id]):not([aria-label]):not([aria-labelledby]),
body.debug-site input[type=reset]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]),
body.debug-site input[type=submit]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]),
body.debug-site input[type=button]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]),
body.debug-site button:empty:not([aria-label]):not([aria-labelledby]):not([title]),
body.debug-site button[title=""],
body.debug-site button[aria-label=""],
body.debug-site button[aria-labelledby=""],
body.debug-site button:not([type]):not([form]):not([formaction]):not([formtarget]),
body.debug-site button[type=reset][formmethod],
body.debug-site button[type=reset][formaction],
body.debug-site button[type=reset][formtarget],
body.debug-site button[type=reset][formenctype],
body.debug-site button[type=reset][formnovalidate],
body.debug-site button[type=button][formmethod],
body.debug-site button[type=button][formaction],
body.debug-site button[type=button][formtarget],
body.debug-site button[type=button][formenctype],
body.debug-site button[type=button][formnovalidate],
body.debug-site button[class*=disabled]:not([disabled]):not([readonly]),
body.debug-site input:not([type]),
body.debug-site input[type=" "],
body.debug-site input[type=""],
body.debug-site optgroup:not([label]),
body.debug-site iframe:not([title]),
body.debug-site iframe[title=" "],
body.debug-site iframe[title=""],
body.debug-site table[role=presentation] th,
body.debug-site table[role=presentation] thead,
body.debug-site table[role=presentation] tfoot,
body.debug-site table[role=presentation] caption,
body.debug-site table[role=presentation] colgroup,
body.debug-site table[role=presentation] [axis],
body.debug-site table[role=presentation] [scope],
body.debug-site table[role=presentation] [headers], body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[width], body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site area:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site area:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site base:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site base:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site br:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site br:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site col:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site col:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site command:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site command:not(img):not(object):not(embed):not(svg):not(canvas)[height], body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[width] embed:not(img):not(object):not(embed):not(svg):not(canvas)[width], body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[height] embed:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site hr:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site hr:not(img):not(object):not(embed):not(svg):not(canvas)[height], body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[width] img:not(img):not(object):not(embed):not(svg):not(canvas)[width], body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[height] img:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site input:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site input:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site keygen:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site keygen:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site link:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site link:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site param:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site param:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site source:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site source:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site track:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site track:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site wbr:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site wbr:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site textarea:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site textarea:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site select:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site select:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site audio:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site audio:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site video:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site video:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site iframe:not(img):not(object):not(embed):not(svg):not(canvas)[width],
body.debug-site iframe:not(img):not(object):not(embed):not(svg):not(canvas)[height],
body.debug-site [onafterprint],
body.debug-site [onbeforeprint],
body.debug-site [onbeforeunload],
body.debug-site [onerror],
body.debug-site [onhaschange],
body.debug-site [onload],
body.debug-site [onmessage],
body.debug-site [onoffline],
body.debug-site [ononline],
body.debug-site [onpagehide],
body.debug-site [onpageshow],
body.debug-site [onpopstate],
body.debug-site [onredo],
body.debug-site [onresize],
body.debug-site [onstorage],
body.debug-site [onundo],
body.debug-site [onunload],
body.debug-site [onblur],
body.debug-site [onchage],
body.debug-site [oncontextmenu],
body.debug-site [onfocus],
body.debug-site [onformchange],
body.debug-site [onforminput],
body.debug-site [oninput],
body.debug-site [oninvalid],
body.debug-site [onreset],
body.debug-site [onselect],
body.debug-site [onsubmit],
body.debug-site [onkeydown],
body.debug-site [onkeypress],
body.debug-site [onkeyup],
body.debug-site [onclick],
body.debug-site [ondblclick],
body.debug-site [ondrag],
body.debug-site [ondragend],
body.debug-site [ondragenter],
body.debug-site [ondragleave],
body.debug-site [ondragover],
body.debug-site [ondragstart],
body.debug-site [ondrop],
body.debug-site [onmousedown],
body.debug-site [onmousemove],
body.debug-site [onmouseout],
body.debug-site [onmouseover],
body.debug-site [onmouseup],
body.debug-site [onmousewheel],
body.debug-site [onscroll],
body.debug-site [onabort],
body.debug-site [oncanplay],
body.debug-site [oncanplaythrough],
body.debug-site [ondurationchange],
body.debug-site [onemptied],
body.debug-site [onended],
body.debug-site [onloadeddata],
body.debug-site [onloadedmetadata],
body.debug-site [onloadstart],
body.debug-site [onpause],
body.debug-site [onplay],
body.debug-site [onplaying],
body.debug-site [onprogress],
body.debug-site [onratechange],
body.debug-site [onreadystatechange],
body.debug-site [onseeked],
body.debug-site [onseeking],
body.debug-site [onstalled],
body.debug-site [onsuspend],
body.debug-site [ontimeupdate],
body.debug-site [onvolumechange],
body.debug-site [onwaiting],
body.debug-site [dir]:not([dir=rtl]):not([dir=ltr]):not([dir=auto]),
body.debug-site [accesskey],
body.debug-site [type=radio]:not([name]),
body.debug-site [type=checkbox]:not(:only-of-type):not([name]),
body.debug-site [type=radio],
body.debug-site a.format-link:not([role=button]),
body.debug-site a.bad-link:not([role=button]),
body.debug-site a.short-link:not([role=button]),
body.debug-site a a[href],
body.debug-site button a[href],
body.debug-site a audio[controls],
body.debug-site button audio[controls],
body.debug-site a video[controls],
body.debug-site button video[controls],
body.debug-site a button,
body.debug-site button button,
body.debug-site a details,
body.debug-site button details,
body.debug-site a embed,
body.debug-site button embed,
body.debug-site a iframe,
body.debug-site button iframe,
body.debug-site a img[usemap],
body.debug-site button img[usemap],
body.debug-site a label,
body.debug-site button label,
body.debug-site a select,
body.debug-site button select,
body.debug-site a textarea,
body.debug-site button textarea,
body.debug-site a input[type]:not([hidden]),
body.debug-site button input[type]:not([hidden]),
body.debug-site form form,
body.debug-site label label,
body.debug-site meter meter,
body.debug-site progress progress,
body.debug-site h3[class*=should-be-],
body.debug-site h4[class*=should-be-],
body.debug-site h5[class*=should-be-],
body.debug-site h6[class*=should-be-],
body.debug-site h2 + h2,
body.debug-site h3 + h2,
body.debug-site h3 + h3,
body.debug-site h4 + h2,
body.debug-site h4 + h3,
body.debug-site h4 + h4,
body.debug-site h5 + h2,
body.debug-site h5 + h3,
body.debug-site h5 + h4,
body.debug-site h5 + h5,
body.debug-site h6 + h2,
body.debug-site h6 + h3,
body.debug-site h6 + h4,
body.debug-site h6 + h5,
body.debug-site h6 + h6 {
  outline: 3px solid #f47847 !important;
}
body.debug-site [tabindex]:not([tabindex="0"]):not([tabindex^="-"])::after,
body.debug-site a[href^="#"]:not([role=button]):not([onclick])::after,
body.debug-site a:not([href])::after,
body.debug-site a[href=""]:not(.chosen-single)::after,
body.debug-site a[href=" "]:not(.chosen-single)::after,
body.debug-site a:empty[title=""]::after,
body.debug-site a:empty[aria-label=""]::after,
body.debug-site a:empty[aria-labelledby=""]::after,
body.debug-site a:empty:not([title]):not([aria-label]):not([aria-labelledby])::after,
body.debug-site img[alt=" "]::after,
body.debug-site area[alt=" "]::after,
body.debug-site input[type=image][alt=" "]::after,
body.debug-site img:not([alt])::after,
body.debug-site area:not([alt])::after,
body.debug-site input[type=image]:not([alt])::after,
body.debug-site [role=img]:not([aria-label]):not([aria-labelledby])::after,
body.debug-site svg[role=img]:not([aria-label]):not([aria-labelledby])::after,
body.debug-site img:not([src]):not([srcset])::after,
body.debug-site input[type=image]:not([src]):not([srcset])::after,
body.debug-site img[src=""]::after,
body.debug-site img[src=" "]::after,
body.debug-site img[src="#"]::after,
body.debug-site img[src="/"]::after,
body.debug-site input[type=image][src=""]::after,
body.debug-site input[type=image][src=" "]::after,
body.debug-site input[type=image][src="#"]::after,
body.debug-site input[type=image][src="/"]::after,
body.debug-site img[srcset=""]::after,
body.debug-site img[srcset=" "]::after,
body.debug-site img[srcset="#"]::after,
body.debug-site img[srcset="/"]::after,
body.debug-site input[type=image][srcset=""]::after,
body.debug-site input[type=image][srcset=" "]::after,
body.debug-site input[type=image][srcset="#"]::after,
body.debug-site input[type=image][srcset="/"]::after,
body.debug-site label[for=""]::after,
body.debug-site label[for=" "]::after,
body.debug-site input:not([type=button]):not([type=submit]):not([type=hidden]):not([type=reset]):not([type=image]):not([id]):not([aria-label]):not([title]):not([aria-labelledby])::after,
body.debug-site textarea:not([id]):not([aria-label]):not([aria-labelledby])::after,
body.debug-site select:not([id]):not([aria-label]):not([aria-labelledby])::after,
body.debug-site input[type=reset]:not([value]):not([title]):not([aria-label]):not([aria-labelledby])::after,
body.debug-site input[type=submit]:not([value]):not([title]):not([aria-label]):not([aria-labelledby])::after,
body.debug-site input[type=button]:not([value]):not([title]):not([aria-label]):not([aria-labelledby])::after,
body.debug-site button:empty:not([aria-label]):not([aria-labelledby]):not([title])::after,
body.debug-site button[title=""]::after,
body.debug-site button[aria-label=""]::after,
body.debug-site button[aria-labelledby=""]::after,
body.debug-site button:not([type]):not([form]):not([formaction]):not([formtarget])::after,
body.debug-site button[type=reset][formmethod]::after,
body.debug-site button[type=reset][formaction]::after,
body.debug-site button[type=reset][formtarget]::after,
body.debug-site button[type=reset][formenctype]::after,
body.debug-site button[type=reset][formnovalidate]::after,
body.debug-site button[type=button][formmethod]::after,
body.debug-site button[type=button][formaction]::after,
body.debug-site button[type=button][formtarget]::after,
body.debug-site button[type=button][formenctype]::after,
body.debug-site button[type=button][formnovalidate]::after,
body.debug-site button[class*=disabled]:not([disabled]):not([readonly])::after,
body.debug-site input:not([type])::after,
body.debug-site input[type=" "]::after,
body.debug-site input[type=""]::after,
body.debug-site optgroup:not([label])::after,
body.debug-site iframe:not([title])::after,
body.debug-site iframe[title=" "]::after,
body.debug-site iframe[title=""]::after,
body.debug-site table[role=presentation] th::after,
body.debug-site table[role=presentation] thead::after,
body.debug-site table[role=presentation] tfoot::after,
body.debug-site table[role=presentation] caption::after,
body.debug-site table[role=presentation] colgroup::after,
body.debug-site table[role=presentation] [axis]::after,
body.debug-site table[role=presentation] [scope]::after,
body.debug-site table[role=presentation] [headers]::after, body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[width]::after, body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site area:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site area:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site base:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site base:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site br:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site br:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site col:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site col:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site command:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site command:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after, body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[width] embed:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after, body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[height] embed:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site hr:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site hr:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after, body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[width] img:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after, body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[height] img:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site input:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site input:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site keygen:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site keygen:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site link:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site link:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site param:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site param:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site source:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site source:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site track:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site track:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site wbr:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site wbr:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site textarea:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site textarea:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site select:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site select:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site audio:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site audio:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site video:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site video:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site iframe:not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,
body.debug-site iframe:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after,
body.debug-site [onafterprint]::after,
body.debug-site [onbeforeprint]::after,
body.debug-site [onbeforeunload]::after,
body.debug-site [onerror]::after,
body.debug-site [onhaschange]::after,
body.debug-site [onload]::after,
body.debug-site [onmessage]::after,
body.debug-site [onoffline]::after,
body.debug-site [ononline]::after,
body.debug-site [onpagehide]::after,
body.debug-site [onpageshow]::after,
body.debug-site [onpopstate]::after,
body.debug-site [onredo]::after,
body.debug-site [onresize]::after,
body.debug-site [onstorage]::after,
body.debug-site [onundo]::after,
body.debug-site [onunload]::after,
body.debug-site [onblur]::after,
body.debug-site [onchage]::after,
body.debug-site [oncontextmenu]::after,
body.debug-site [onfocus]::after,
body.debug-site [onformchange]::after,
body.debug-site [onforminput]::after,
body.debug-site [oninput]::after,
body.debug-site [oninvalid]::after,
body.debug-site [onreset]::after,
body.debug-site [onselect]::after,
body.debug-site [onsubmit]::after,
body.debug-site [onkeydown]::after,
body.debug-site [onkeypress]::after,
body.debug-site [onkeyup]::after,
body.debug-site [onclick]::after,
body.debug-site [ondblclick]::after,
body.debug-site [ondrag]::after,
body.debug-site [ondragend]::after,
body.debug-site [ondragenter]::after,
body.debug-site [ondragleave]::after,
body.debug-site [ondragover]::after,
body.debug-site [ondragstart]::after,
body.debug-site [ondrop]::after,
body.debug-site [onmousedown]::after,
body.debug-site [onmousemove]::after,
body.debug-site [onmouseout]::after,
body.debug-site [onmouseover]::after,
body.debug-site [onmouseup]::after,
body.debug-site [onmousewheel]::after,
body.debug-site [onscroll]::after,
body.debug-site [onabort]::after,
body.debug-site [oncanplay]::after,
body.debug-site [oncanplaythrough]::after,
body.debug-site [ondurationchange]::after,
body.debug-site [onemptied]::after,
body.debug-site [onended]::after,
body.debug-site [onloadeddata]::after,
body.debug-site [onloadedmetadata]::after,
body.debug-site [onloadstart]::after,
body.debug-site [onpause]::after,
body.debug-site [onplay]::after,
body.debug-site [onplaying]::after,
body.debug-site [onprogress]::after,
body.debug-site [onratechange]::after,
body.debug-site [onreadystatechange]::after,
body.debug-site [onseeked]::after,
body.debug-site [onseeking]::after,
body.debug-site [onstalled]::after,
body.debug-site [onsuspend]::after,
body.debug-site [ontimeupdate]::after,
body.debug-site [onvolumechange]::after,
body.debug-site [onwaiting]::after,
body.debug-site [dir]:not([dir=rtl]):not([dir=ltr]):not([dir=auto])::after,
body.debug-site [accesskey]::after,
body.debug-site [type=radio]:not([name])::after,
body.debug-site [type=checkbox]:not(:only-of-type):not([name])::after,
body.debug-site [type=radio]::after,
body.debug-site a.format-link:not([role=button])::after,
body.debug-site a.bad-link:not([role=button])::after,
body.debug-site a.short-link:not([role=button])::after,
body.debug-site a a[href]::after,
body.debug-site button a[href]::after,
body.debug-site a audio[controls]::after,
body.debug-site button audio[controls]::after,
body.debug-site a video[controls]::after,
body.debug-site button video[controls]::after,
body.debug-site a button::after,
body.debug-site button button::after,
body.debug-site a details::after,
body.debug-site button details::after,
body.debug-site a embed::after,
body.debug-site button embed::after,
body.debug-site a iframe::after,
body.debug-site button iframe::after,
body.debug-site a img[usemap]::after,
body.debug-site button img[usemap]::after,
body.debug-site a label::after,
body.debug-site button label::after,
body.debug-site a select::after,
body.debug-site button select::after,
body.debug-site a textarea::after,
body.debug-site button textarea::after,
body.debug-site a input[type]:not([hidden])::after,
body.debug-site button input[type]:not([hidden])::after,
body.debug-site form form::after,
body.debug-site label label::after,
body.debug-site meter meter::after,
body.debug-site progress progress::after,
body.debug-site h3[class*=should-be-]::after,
body.debug-site h4[class*=should-be-]::after,
body.debug-site h5[class*=should-be-]::after,
body.debug-site h6[class*=should-be-]::after,
body.debug-site h2 + h2::after,
body.debug-site h3 + h2::after,
body.debug-site h3 + h3::after,
body.debug-site h4 + h2::after,
body.debug-site h4 + h3::after,
body.debug-site h4 + h4::after,
body.debug-site h5 + h2::after,
body.debug-site h5 + h3::after,
body.debug-site h5 + h4::after,
body.debug-site h5 + h5::after,
body.debug-site h6 + h2::after,
body.debug-site h6 + h3::after,
body.debug-site h6 + h4::after,
body.debug-site h6 + h5::after,
body.debug-site h6 + h6::after {
  background: #f47847 !important;
  color: #000000 !important;
  contain: content;
  font: 500 normal 1em sans-serif !important;
  padding: 3px 3px 0 !important;
  margin-left: 3px !important;
  pointer-events: none !important;
  text-decoration: none !important;
  z-index: 2147483644 !important;
}
body.debug-site a[href^="#"]:not([role=button]):not([onclick])::after,
body.debug-site a:not([href])::after {
  content: "Link has no URL" !important;
}
body.debug-site a.format-link:not([role=button])::after {
  content: 'Link text must include format—e.g., "(PDF)"; size info optional—e.g., "(Word, 5 pages)" or "(YouTube, 45 minutes)"' !important;
}
body.debug-site a.bad-link:not([role=button])::after {
  content: "Link text must describe destination" !important;
}
body.debug-site a.short-link:not([role=button])::after {
  content: "Link text too short and must describe destination" !important;
}
body.debug-site [tabindex]:not([tabindex="0"]):not([tabindex^="-"])::after {
  content: "Disrupting tab order" !important;
}
body.debug-site a[href=""]:not(.chosen-single)::after,
body.debug-site a[href=" "]:not(.chosen-single)::after {
  content: "Empty [href]" !important;
}
body.debug-site a:empty[title=""]::after,
body.debug-site a:empty[aria-label=""]::after,
body.debug-site a:empty[aria-labelledby=""]::after,
body.debug-site a:empty:not([title]):not([aria-label]):not([aria-labelledby])::after {
  content: "Empty link" !important;
}
body.debug-site h2 + h2::after,
body.debug-site h3 + h2::after,
body.debug-site h3 + h3::after,
body.debug-site h4 + h2::after,
body.debug-site h4 + h3::after,
body.debug-site h4 + h4::after,
body.debug-site h5 + h2::after,
body.debug-site h5 + h3::after,
body.debug-site h5 + h4::after,
body.debug-site h5 + h5::after,
body.debug-site h6 + h2::after,
body.debug-site h6 + h3::after,
body.debug-site h6 + h4::after,
body.debug-site h6 + h5::after,
body.debug-site h6 + h6::after {
  content: "Remove empty heading above or add content" !important;
}
body.debug-site h3.should-be-h2::after,
body.debug-site h4.should-be-h2::after,
body.debug-site h5.should-be-h2::after,
body.debug-site h6.should-be-h2::after {
  content: "Headings must start at level 2" !important;
}
body.debug-site h4.should-be-h3::after,
body.debug-site h5.should-be-h3::after,
body.debug-site h6.should-be-h3::after {
  content: "Headings may not skip levels; should be level 3" !important;
}
body.debug-site h5.should-be-h4::after,
body.debug-site h6.should-be-h4::after {
  content: "Headings may not skip levels; should be level 4" !important;
}
body.debug-site h6.should-be-h5::after {
  content: "Headings may not skip levels; should be level 5" !important;
}
body.debug-site img[alt=" "] + ::after,
body.debug-site area[alt=" "] + ::after,
body.debug-site input[type=image][alt=" "] + ::after,
body.debug-site img:not([alt]) + ::after,
body.debug-site area:not([alt]) + ::after,
body.debug-site input[type=image]:not([alt]) + ::after {
  content: "Missing [alt]" !important;
}
body.debug-site [role=img]:not([aria-label]):not([aria-labelledby])::after {
  content: "Missing [aria-label] and [aria-labelledby]" !important;
}
body.debug-site svg[role=img]:not([aria-label]):not([aria-labelledby]) + ::after {
  content: "Missing [aria-label] and [aria-labelledby]" !important;
}
body.debug-site img:not([src]):not([srcset])::after,
body.debug-site input[type=image]:not([src]):not([srcset])::after {
  content: "Missing source" !important;
}
body.debug-site img[src=""]::after,
body.debug-site img[src=" "]::after,
body.debug-site img[src="#"]::after,
body.debug-site img[src="/"]::after,
body.debug-site input[type=image][src=""]::after,
body.debug-site input[type=image][src=" "]::after,
body.debug-site input[type=image][src="#"]::after,
body.debug-site input[type=image][src="/"]::after {
  content: "Invalid [src]" !important;
}
body.debug-site img[srcset=""]::after,
body.debug-site img[srcset=" "]::after,
body.debug-site img[srcset="#"]::after,
body.debug-site img[srcset="/"]::after,
body.debug-site input[type=image][srcset=""]::after,
body.debug-site input[type=image][srcset=" "]::after,
body.debug-site input[type=image][srcset="#"]::after,
body.debug-site input[type=image][srcset="/"]::after {
  content: "Invalid [srcset]" !important;
}
body.debug-site label[for=""]::after,
body.debug-site label[for=" "]::after {
  content: "Empty [for]" !important;
}
body.debug-site input:not([type=button]):not([type=submit]):not([type=hidden]):not([type=reset]):not([type=image]):not([id]):not([aria-label]):not([title]):not([aria-labelledby]) + ::after,
body.debug-site textarea:not([id]):not([aria-label]):not([aria-labelledby]) + ::after,
body.debug-site select:not([id]):not([aria-label]):not([aria-labelledby]) + ::after {
  content: "Unlabelled field" !important;
}
body.debug-site input[type=reset]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]) + ::after,
body.debug-site input[type=submit]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]) + ::after,
body.debug-site input[type=button]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]) + ::after {
  content: "Untitled input" !important;
}
body.debug-site button:empty:not([aria-label]):not([aria-labelledby]):not([title])::after {
  content: "Empty and untitled button" !important;
}
body.debug-site button[title=""]::after {
  content: "Empty [title]" !important;
}
body.debug-site button[aria-label=""]::after {
  content: "Empty [aria-label]" !important;
}
body.debug-site button[aria-labelledby=""]::after {
  content: "Empty [aria-labelledby]" !important;
}
body.debug-site button:not([type]):not([form]):not([formaction]):not([formtarget])::after {
  content: "Missing [type]" !important;
}
body.debug-site button[type=reset][formmethod]::after,
body.debug-site button[type=reset][formaction]::after,
body.debug-site button[type=reset][formtarget]::after,
body.debug-site button[type=reset][formenctype]::after,
body.debug-site button[type=reset][formnovalidate]::after,
body.debug-site button[type=button][formmethod]::after,
body.debug-site button[type=button][formaction]::after,
body.debug-site button[type=button][formtarget]::after,
body.debug-site button[type=button][formenctype]::after,
body.debug-site button[type=button][formnovalidate]::after {
  content: "[type=" attr(type) "] shouldn’t have form submission attributes" !important;
}
body.debug-site button[class*=disabled]:not([disabled]):not([readonly])::after {
  content: "Use [disabled] or [readonly]" !important;
}
body.debug-site input:not([type]) + ::after,
body.debug-site input[type=" "] + ::after,
body.debug-site input[type=""] + ::after {
  content: "Missing [type]" !important;
}
body.debug-site optgroup:not([label]) + ::after {
  content: "<optgroup> without [label]" !important;
}
body.debug-site iframe:not([title]) + ::after,
body.debug-site iframe[title=" "] + ::after,
body.debug-site iframe[title=""] + ::after {
  content: "Missing [title] for <iframe>" !important;
}
body.debug-site table[role=presentation] th::after,
body.debug-site table[role=presentation] thead::after,
body.debug-site table[role=presentation] tfoot::after,
body.debug-site table[role=presentation] caption::after,
body.debug-site table[role=presentation] colgroup::after,
body.debug-site table[role=presentation] [axis]::after,
body.debug-site table[role=presentation] [scope]::after,
body.debug-site table[role=presentation] [headers]::after {
  content: "Semantic thing in layout table" !important;
}
body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[width]::after, body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[height]::after {
  content: "[width] & [height] are forbidden" !important;
}
body.debug-site area:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site area:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site base:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site base:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site br:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site br:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site col:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site col:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site command:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site command:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after, body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[width] embed:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after, body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[height] embed:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site hr:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site hr:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after, body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[width] img:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after, body.debug-site :not(img):not(object):not(embed):not(svg):not(canvas)[height] img:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site input:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site input:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site keygen:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site keygen:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site link:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site link:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site param:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site param:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site source:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site source:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site track:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site track:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site wbr:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site wbr:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site textarea:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site textarea:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site select:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site select:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site audio:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site audio:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site video:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site video:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after,
body.debug-site iframe:not(img):not(object):not(embed):not(svg):not(canvas)[width] + ::after,
body.debug-site iframe:not(img):not(object):not(embed):not(svg):not(canvas)[height] + ::after {
  content: "[width] & [height] are forbidden" !important;
}
body.debug-site [onafterprint]::after,
body.debug-site [onbeforeprint]::after,
body.debug-site [onbeforeunload]::after,
body.debug-site [onerror]::after,
body.debug-site [onhaschange]::after,
body.debug-site [onload]::after,
body.debug-site [onmessage]::after,
body.debug-site [onoffline]::after,
body.debug-site [ononline]::after,
body.debug-site [onpagehide]::after,
body.debug-site [onpageshow]::after,
body.debug-site [onpopstate]::after,
body.debug-site [onredo]::after,
body.debug-site [onresize]::after,
body.debug-site [onstorage]::after,
body.debug-site [onundo]::after,
body.debug-site [onunload]::after,
body.debug-site [onblur]::after,
body.debug-site [onchage]::after,
body.debug-site [oncontextmenu]::after,
body.debug-site [onfocus]::after,
body.debug-site [onformchange]::after,
body.debug-site [onforminput]::after,
body.debug-site [oninput]::after,
body.debug-site [oninvalid]::after,
body.debug-site [onreset]::after,
body.debug-site [onselect]::after,
body.debug-site [onsubmit]::after,
body.debug-site [onkeydown]::after,
body.debug-site [onkeypress]::after,
body.debug-site [onkeyup]::after,
body.debug-site [onclick]::after,
body.debug-site [ondblclick]::after,
body.debug-site [ondrag]::after,
body.debug-site [ondragend]::after,
body.debug-site [ondragenter]::after,
body.debug-site [ondragleave]::after,
body.debug-site [ondragover]::after,
body.debug-site [ondragstart]::after,
body.debug-site [ondrop]::after,
body.debug-site [onmousedown]::after,
body.debug-site [onmousemove]::after,
body.debug-site [onmouseout]::after,
body.debug-site [onmouseover]::after,
body.debug-site [onmouseup]::after,
body.debug-site [onmousewheel]::after,
body.debug-site [onscroll]::after,
body.debug-site [onabort]::after,
body.debug-site [oncanplay]::after,
body.debug-site [oncanplaythrough]::after,
body.debug-site [ondurationchange]::after,
body.debug-site [onemptied]::after,
body.debug-site [onended]::after,
body.debug-site [onerror]::after,
body.debug-site [onloadeddata]::after,
body.debug-site [onloadedmetadata]::after,
body.debug-site [onloadstart]::after,
body.debug-site [onpause]::after,
body.debug-site [onplay]::after,
body.debug-site [onplaying]::after,
body.debug-site [onprogress]::after,
body.debug-site [onratechange]::after,
body.debug-site [onreadystatechange]::after,
body.debug-site [onseeked]::after,
body.debug-site [onseeking]::after,
body.debug-site [onstalled]::after,
body.debug-site [onsuspend]::after,
body.debug-site [ontimeupdate]::after,
body.debug-site [onvolumechange]::after,
body.debug-site [onwaiting]::after {
  content: "JavaScript event attribute" !important;
}
body.debug-site [dir]:not([dir=rtl]):not([dir=ltr]):not([dir=auto])::after {
  content: "Invalid [dir]" !important;
}
body.debug-site [accesskey]::after {
  content: "[accesskey]" !important;
}
body.debug-site [type=radio]:not([name]) + ::after,
body.debug-site [type=checkbox]:not(:only-of-type):not([name]) + ::after {
  content: "Missing [name]" !important;
}
body.debug-site [type=radio] + ::after {
  content: "[radio] outside any <fieldset>" !important;
}
body.debug-site a a[href]::after,
body.debug-site button a[href]::after,
body.debug-site a audio[controls]::after,
body.debug-site button audio[controls]::after,
body.debug-site a video[controls]::after,
body.debug-site button video[controls]::after,
body.debug-site a button::after,
body.debug-site button button::after,
body.debug-site a details::after,
body.debug-site button details::after,
body.debug-site a embed::after,
body.debug-site button embed::after,
body.debug-site a iframe::after,
body.debug-site button iframe::after,
body.debug-site a img[usemap]::after,
body.debug-site button img[usemap]::after,
body.debug-site a label::after,
body.debug-site button label::after,
body.debug-site a select::after,
body.debug-site button select::after,
body.debug-site a textarea::after,
body.debug-site button textarea::after,
body.debug-site a input[type]:not([hidden])::after,
body.debug-site button input[type]:not([hidden])::after,
body.debug-site form form::after,
body.debug-site label label::after,
body.debug-site meter meter::after,
body.debug-site progress progress::after {
  content: "Nested interactive elements" !important;
}

/*# sourceMappingURL=debug_content.css.map */
