// Variables
$gray: #58595b;
$white: #ffffff;
$gray-lighter: #e5e6e6;
$gray-light: #98999b;
$gray-dark: #373839;
$gray-darker: #212122;
$black: #000000;
$success: #a0c33b;
$warning: #febe10;
$danger: #f47847;

// General styles for debugging elements
.debug-only {
  display: none;
  visibility: hidden;
  height: 0;
  position: relative;
}
body.debug-content,
body.debug-site {
  .d-flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .col-3,
  .col-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-0 {
    margin: 0;
  }
  .m-3 {
    margin: 1em;
  }
  .mb-3 {
    margin-bottom: 1em;
  }
  .p-1 {
    padding: 0.25em;
  }
  .font-italic {
    font-style: italic;
  }
  .text-black {
    color: $black !important;
  }
  .bg-white {
    background-color: $white !important;
  }
  .bg-success {
    background-color: $success !important;
  }
  .border {
    border: 1px solid $black;
  }
  .border-success {
    border-color: $success !important;
  } 
}
// Content only
body.debug-content {
  .debug-only {
    display: block;
    visibility: visible;
    height: auto;
  }
  .debug-author-content {
    background-color: $white;
    iframe,
    img {
      filter: grayscale(1) !important;
    }
    .flex-shrink-0 {
      flex-shrink: 1 !important;
    }
    h1,h2,h3,h4,h5,h6,
    p,
    a,
    li,
    dt,
    dd,
    blockquote,
    hr,
    [class*="text-"] {
      color: $gray-dark !important;
    }
    [class*="bg-"],
    [class*="btn-"] {
      background-color: $gray-lighter !important;
      color: $gray-dark !important;
      border-color: $gray !important;
    }
    [class*="btn-"] {
      &:active,
      &:focus,
      &:hover {
        background-color: $white !important;
      }
    }
    .bg-success {
      background: $success !important;
    }
    // SUCCESS ADVISORIES
    .might-be-fluff {
      outline: 3px solid $success !important;
    }
    .might-be-fluff::before {
      content: "Can text be more focused? Possible \"fluff\" detected: \"" attr(fluff) "\"" !important;
      background: $success !important;
      color: $black !important;
      contain: content;
      width: fit-content;
      font: 500 normal 1em sans-serif !important;
      padding: 3px 3px 0 !important;
      pointer-events: none !important;
      text-decoration: none !important;
      z-index: 2147483644 !important;
    }
    [href^="http:"]:not([class*="-link"]):not([role="button"]) {
      outline: 3px solid $success;
      &::after {
        background: $success;
        color: $black !important;
        contain: content;
        font: 500 normal 1em sans-serif !important;
        padding: 3px 3px 0 !important;
        margin-left: 3px !important;
        pointer-events: none !important;
        text-decoration: none !important;
        z-index: 2147483644 !important;
      }
    }
    [href^="http:"]:not([class*="-link"]):not([role="button"])::after {
      content: "Should link be secure (start with https)?";
    }
    // WARNING
    a.duplicate-link,
    a.duplicate-link-text,
    a.long-link,
    a.error-403:not(.nav-link):not([role="button"]),
    a.explaining-link,
    p.should-be-heading,
    p.should-be-list,
    p.wall-of-text,
    strong.long-strong,
    hr + h2,
    hr + h3,
    hr + h4,
    hr + h5,
    hr + h6,
    h2.long-heading,
    h3.long-heading,
    h4.long-heading,
    h5.long-heading,
    h6.long-heading,
    h2.not-title-case,
    h3.not-title-case,
    h4.not-title-case,
    h5.not-title-case,
    h6.not-title-case,
    h2.should-be-list,
    h3.should-be-list,
    h4.should-be-list,
    h5.should-be-list,
    h6.should-be-list,
    ul>:not(li),
    ol>:not(li),
    :not(ul):not(ol)>li,
    dt+:not(dd),
    dl.invalid-dl,
    :not(dt):not(dd)+dd,
    :not(dl)>dt,
    :not(dl)>dd,
    dl>:not(dt):not(dd):not(div),
    :not(tr)>td,
    :not(tr)>th,
    tr>:not(td):not(th),
    table>*:not(thead):not(tfoot):not(tbody):not(tr):not(colgroup):not(caption),
    table:not([role="presentation"])>caption:not(:first-child),
    table:not([role="presentation"])>*:first-child:not(caption),
    table>tbody:first-child>tr:first-child>td:first-child,
    address h2,
    address h3,
    address h4,
    address h5,
    address h6,
    address address {
      outline: 3px solid $warning !important;
      &::after {
        background: $warning !important;
        color: $black !important;
        contain: content;
        font: 500 normal 1em sans-serif !important;
        padding: 3px 3px 0 !important;
        margin-left: 3px !important;
        pointer-events: none !important;
        text-decoration: none !important;
        z-index: 2147483646 !important;
      }
    }
    a.long-link::after {
      content: "Can this link text be shorter and still describe its destination?" !important;
    }
    a.duplicate-link::after {
      content: "Duplicate link URL with new text; is it redundant or confusing?" !important;
    }
    a.duplicate-link.duplicate-link-text::after {
      content: "Duplicate link text and URL; is it redundant?" !important;
    }
    a.error-403:not(.nav-link):not([role="button"])::after {
      content: "Should link destination be public?" !important;
    }
    a.explaining-link::after {
      content: "Don't explain how links work. Does \"" attr(explaining) "\" describe link destination?" 
    }
    p.wall-of-text::after {
      content: "Wall of text: can this be shorter paragraphs or a list?" !important;
    }
    strong.long-strong::after {
      content: "Bold text impairs reading comprehension; emphasize fewer words?" !important;
    }
    p.should-be-heading::after {
      content: "Should this be a heading or part of a description list?" !important;
    }
    p.should-be-list::after {
      content: "Should this be in a list?" !important;
    }
    hr + h2::after,
    hr + h3::after,
    hr + h4::after,
    hr + h5::after,
    hr + h6::after {
      content: "A horizontal line is for a thematic pause within a section; a heading starts a new section. Do you need both?";
    }
    h2.long-heading::after,
    h3.long-heading::after,
    h4.long-heading::after,
    h5.long-heading::after,
    h6.long-heading::after {
      content: "Can this heading be shorter and still label its content?" !important;
    }
    h2.should-be-list::after,
    h3.should-be-list::after,
    h4.should-be-list::after,
    h5.should-be-list::after,
    h6.should-be-list::after {
      content: "Should this be in a list?" !important;
    }
    h2.not-title-case::after,
    h3.not-title-case::after,
    h4.not-title-case::after,
    h5.not-title-case::after,
    h6.not-title-case::after {
      content: "Is this heading in Title Case? (see TitleCaseConverter.com) Are acronyms spelled out nearby?" !important;
    }
    ul>:not(li)::after,
    ol>:not(li)::after,
    :not(ul):not(ol)>li::after {
      content: "Invalid <li> nesting" !important;
    }
    dt+:not(dd)::after,
    :not(dt):not(dd)+dd::after {
      content: "The previous description term/question must have a value/answer" !important;
    }
    dl.invalid-dl::after {
      content: "Description lists must have both terms and values (or questions and answers)" !important;
    }
    :not(dl)>dt::after,:not(dl)>dd::after,
    dl>:not(dt):not(dd):not(div)::after {
      content: "Invalid description list child" !important;
    }
    table:not([role="presentation"])>caption:not(:first-child)::after,
    table:not([role="presentation"])>*:first-child:not(caption)::after {
      content: "Consider editing this table to add a caption describing its purpose" !important;
    }
    :not(tr)>td::after,
    :not(tr)>th::after,
    tr>:not(td):not(th)::after,
    table>*:not(thead):not(tfoot):not(tbody):not(tr):not(colgroup):not(caption)::after {
      content: "Invalid nesting" !important;
    }
    table>tbody:first-child>tr:first-child>td:first-child::after {
      content: "This table needs headers for accessibility.";
    }
    address h2::after,
    address h3::after,
    address h4::after,
    address h5::after,
    address h6::after {
      content: "<address> elements can't have headings within them" !important;
    }
    address address::after {
      content: "<address> elements can't be nested" !important;
    }
    // DANGER
    a:not(.duplicate-link).duplicate-link-text,
    a.format-link:not([role="button"]),
    a.bad-link:not([role="button"]),
    a.url-link,
    a.email-link,
    a.short-link:not([role="button"]),
    a[href=""]:not(.chosen-single):not([onclick]),
    a[href=" "]:not(.chosen-single):not([onclick]),
    a:empty[title=""],
    a:empty[aria-label=""],
    a:empty[aria-labelledby=""],
    a:empty:not([title]):not([aria-label]):not([aria-labelledby]),
    a[href^="#"]:not([role="button"]):not([onclick]),
    a:not([href]),
    a.error-404:not([role="button"]),
    h2 > a,
    h3 > a,
    h4 > a,
    h5 > a,
    h6 > a,
    h3[class*="should-be-h"],
    h4[class*="should-be-h"],
    h5[class*="should-be-h"],
    h6[class*="should-be-h"],
    h2 + h2,
    h3 + h2,
    h3 + h3,
    h4 + h2,
    h4 + h3,
    h4 + h4,
    h5 + h2,
    h5 + h3,
    h5 + h4,
    h5 + h5,
    h6 + h2,
    h6 + h3,
    h6 + h4,
    h6 + h5,
    h6 + h6 {
      outline: 3px solid $danger !important;
      &::after {
        background: $danger !important;
        color: $black !important;
        contain: content;
        font: 500 normal 1em sans-serif !important;
        padding: 3px 3px 0 !important;
        margin-left: 3px !important;
        pointer-events: none !important;
        text-decoration: none !important;
        z-index: 2147483647 !important;
      }
    }
    h2 + h2,
    h3 + h2,
    h3 + h3,
    h4 + h2,
    h4 + h3,
    h4 + h4,
    h5 + h2,
    h5 + h3,
    h5 + h4,
    h5 + h5,
    h6 + h2,
    h6 + h3,
    h6 + h4,
    h6 + h5,
    h6 + h6 {
      &::after {
        content: "Previous heading has no content; remove it or add content" !important;
      }
    }
    h3.should-be-h2,
    h4.should-be-h2,
    h5.should-be-h2,
    h6.should-be-h2 {
      &::after {
        content: "Headings must start at level 2" !important;
      }
    }
    h4.should-be-h3,
    h5.should-be-h3,
    h6.should-be-h3 {
      &::after {
        content: "Headings may not skip levels; should be level 3" !important;
      }
    }
    h5.should-be-h4,
    h6.should-be-h4 {
      &::after {
        content: "Headings may not skip levels; should be level 4" !important;
      }
    }
    h6.should-be-h5 {
      &::after {
        content: "Headings may not skip levels; should be level 5" !important;
      }
    }
    h2 > a,
    h3 > a,
    h4 > a,
    h5 > a,
    h6 > a {
      &::after {
        content: "Headings may not contain links" !important;
      }
    }
    a:not(.duplicate-link).duplicate-link-text::after {
      content: "Duplicate link text on new URL; fix to avoid confusion" !important;
    }
    a.format-link:not([role="button"])::after {
      content: "Link text must include format, e.g., " attr(format-note) !important;
    }
    a.bad-link:not([role="button"])::after {
      content: "Link text must describe destination" !important;
    }
    a.url-link::after {
      content: "Link text must use human-friendly language to describe destination; do not use a URL" !important;
    }
    a.email-link::after {
      content: "Email links must use the email address as the link text" !important;
    }
    a.short-link:not([role="button"])::after {
      content: "Link text too short and must describe destination" !important;
    }
    a[href^="#"]:not([role="button"]):not([onclick])::after,
    a:not([href])::after {
      content: "Link has no destination" !important;
    }
    a[href=""]:not(.chosen-single):not([onclick])::after,
    a[href=" "]:not(.chosen-single):not([onclick])::after {
      content: "Empty [href]" !important;
    }
    a:empty[title=""]::after,
    a:empty[aria-label=""]::after,
    a:empty[aria-labelledby=""]::after,
    a:empty:not([title]):not([aria-label]):not([aria-labelledby])::after {
      content: "Empty link" !important;
    }
    a.error-404:not([role="button"])::after {
      content: "Broken link (page not found)" !important;
    }
  }
}

// Site elements & content
body.debug-site {
  main::before {
    content: "Site debugging on" !important;
    background: $success !important;
    color: $black !important;
    contain: content;
    font: 500 normal 1em sans-serif !important;
    padding: 3px !important;
    z-index: 2147483644 !important;
  }
  .debug-only {
    display: block;
    visibility: visible;
    height: auto;
  }
  iframe,
  img {
    filter: grayscale(1) !important;
  }
  // SUCCESS ADVISORIES
  select[required]:not([multiple])[size="1"],
  select[required]:not([multiple]):not([size]),
  figcaption:not(:first-of-type),
  figcaption:not(:first-child):not(:last-child),
  [target$="blank"],
  [role="main"] ~ [role="main"],
  [role="search"] ~ [role="search"],
  [role="banner"] ~ [role="banner"],
  [role="contentinfo"] ~ [role="contentinfo"],
  form:not(.gsc-search-box)[id*="search"]:not([role="search"]),
  form:not(.gsc-search-box)[class*="search"]:not([role="search"]),
  input[id*="search"]:not([role="search"]):not([type="submit"]),
  input:not(.chosen-search-input)[class*="search"]:not([role="search"]):not([type="submit"]),
  [hidden]:not(:empty),
  [aria-hidden="true"]:not(.svg-layers):not(.form-select):not(:empty),
  [placeholder]:not([title]):not([aria-label]):not([aria-labelledby]),
  table:not(.gsc-input):not(.gsc-search-box)[role="presentation"],
  [src^="http:"],
  &:not(.local) [href^="http:"]:not([role="button"]) {
    outline: 3px solid $success;
    &::after {
      background: $success;
      color: $black !important;
      contain: content;
      font: 500 normal 1em sans-serif !important;
      padding: 3px 3px 0 !important;
      margin-left: 3px !important;
      pointer-events: none !important;
      text-decoration: none !important;
      z-index: 2147483644 !important;
    }
  }
  &:not(.local) [src^="http:"]::after {
    content: "SRC should start with https";
  }
  &:not(.local) [href^="http:"]:not([role="button"])::after {
    content: "Should link start with https?";
  }
  select[required]:not([multiple])[size="1"]+::after,
  select[required]:not([multiple]):not([size])+::after {
    content: '<select required> should start with <option value="">' !important;
  }
  figcaption:not(:first-of-type)::after {
    content: "Second <figcaption>" !important;
  }
  figcaption:not(:first-child):not(:last-child)::after {
    content: "Wrong order for <figcaption>" !important;
  }
  [target$="blank"]::after {
    content: "Link opening a new tab" !important;
  }
  [role="main"] ~ [role="main"]::after,
  [role="search"] ~ [role="search"]::after,
  [role="banner"] ~ [role="banner"]::after,
  [role="contentinfo"] ~ [role="contentinfo"]::after {
    content: "Second " attr(role) " role" !important;
  }
  form:not(.gsc-search-box)[id*="search"]:not([role="search"])::after,
  form:not(.gsc-search-box)[class*="search"]:not([role="search"])::after {
    content: "Is [role=search] defined?" !important;
  }
  input[id*="search"]:not([role="search"]):not([type="submit"])+::after,
  input:not(.chosen-search-input)[class*="search"]:not([role="search"]):not([type="submit"])+::after {
    content: "Is [role=search] defined?" !important;
  }
  [hidden]:not(:empty)::after,
  [aria-hidden="true"]:not(.svg-layers):not(.form-select):not(:empty)::after {
    content: "Hidden element" !important;
  }
  [placeholder]:not([title]):not([aria-label]):not([aria-labelledby])+::after {
    content: "Placeholder can’t replace <label>" !important;
  }
  table:not(.gsc-input):not(.gsc-search-box)[role="presentation"]::after {
    content: "Layout table" !important;
  }
  // WARNING
  ul>:not(li),
  ol>:not(li),
  :not(ul):not(ol)>li,
  dt+:not(dd),
  :not(dt):not(dd)+dd,
  :not(dl)>dt,
  :not(dl)>dd,
  dl>:not(dt):not(dd):not(div),
  dl.invalid-dl,
  :not(figure)>figcaption,
  figure:not([role="group"]),
  nav main,
  aside main,
  footer main,
  header main,
  article main,:not(tr)>td,:not(tr)>th,
  colgroup *:not(col),:not(colgroup)>col,
  tr>:not(td):not(th),
  optgroup>:not(option),:not(select)>optgroup,:not(fieldset)>legend,
  select>:not(option):not(optgroup),:not(select):not(optgroup)>option,
  table>*:not(thead):not(tfoot):not(tbody):not(tr):not(colgroup):not(caption),
  b div,
  i div,
  q div,
  em div,
  cite div,
  code div,
  span div,
  small div,
  label div,
  strong div,
  aside>aside:first-child,
  article>aside:first-child,
  aside>article:first-child,
  aside>section:first-child,
  section>section:first-child,
  article>section:first-child,
  article>article:first-child,
  fieldset>*:not(legend):first-child,
  fieldset>legend:not(:first-child),
  details>*:not(summary):first-child,
  details>summary:not(:first-child),
  img[alt=""],
  area[alt=""],
  input[type="image"][alt=""],
  embed[type="image"][alt=""],
  object[type="image"][alt=""],
  img[alt=""][title],
  img[alt=""][aria-label],
  img[alt=""][aria-labelledby],
  img[alt=""][aria-describedby],
  svg[aria-hidden="true"][title],
  svg[aria-hidden="true"][aria-label],
  svg[aria-hidden="true"][aria-labelledby],
  svg[aria-hidden="true"][aria-describedby],
  video[autoplay],
  audio[autoplay],
  video:not([controls]),
  audio:not([controls]),
  *:empty:not([class]):not([hidden]):not([aria-hidden]):not([src]):not(button):not(a):not(iframe):not(textarea):not(area):not(base):not(br):not(col):not(command):not(embed):not(hr):not(img):not(input):not(keygen):not(link):not(meta):not(param):not(source):not(track):not(wbr):not(title),
  table:not([role="presentation"])>tr:only-child,
  table:not([role="presentation"])>tbody>tr:only-child,
  table:not(.gsc-search-box) table,
  table:not([role="presentation"])>caption:not(:first-child),
  table:not([role="presentation"])>*:first-child:not(caption),
  table>tfoot ~ thead,
  table>tbody ~ tfoot,
  table>tbody ~ thead,
  table>tfoot ~ colgroup,
  table>tbody ~ colgroup,
  th:not([scope]):not([id]),
  img[src*="1px.gif"]:not([role="presentation"]),
  img[src*="1x1.gif"]:not([role="presentation"]),
  img[src*="clear.gif"]:not([role="presentation"]),
  img[src*="spacer.gif"]:not([role="presentation"]),
  img[src*="dotclear.gif"]:not([role="presentation"]),
  img[src*="transparent.gif"]:not([role="presentation"]),
  img[src*="pixel-1x1-clear.gif"]:not([role="presentation"]),
  [class*="NaN"],
  [class*="null"],
  [class*="undefined"],
  [id*="NaN"],
  [id*="null"],
  [id*="undefined"],
  a[href^="javascript"]:not([role="button"]),
  [target$="blank"]:not([rel]),
  [target$="blank"]:not([rel*="noopener"]),
  [target$="blank"]:not([rel*="noreferrer"]),
  [role="heading"]:not([aria-level]),
  label:not([for]) {
    outline: 3px solid $warning !important;
    &::after {
      background: $warning !important;
      color: $black !important;
      contain: content;
      font: 500 normal 1em sans-serif !important;
      padding: 3px 3px 0 !important;
      margin-left: 3px !important;
      pointer-events: none !important;
      text-decoration: none !important;
      z-index: 2147483644 !important;
    }
  }
  ul>:not(li)::after,
  ol>:not(li)::after,:not(ul):not(ol)>li::after {
    content: "Invalid <li> nesting" !important;
  }
  dt+:not(dd)::after,
  :not(dt):not(dd)+dd::after {
    content: "The previous description term/question must have a value/answer" !important;
  }
  dl.invalid-dl::after {
    content: "Description lists must have both terms and values (or questions and answers)" !important;
  }
  :not(dl)>dt::after,:not(dl)>dd::after,
  dl>:not(dt):not(dd):not(div)::after {
    content: "Invalid description list child" !important;
  }
  :not(figure)>figcaption::after {
    content: "<figcaption> outside <figure>" !important;
  }
  figure:not([role="group"])::after {
    content: "<figure> without [role=group]" !important;
  }
  nav main::after,
  aside main::after,
  footer main::after,
  header main::after,
  article main::after,:not(tr)>td::after,:not(tr)>th::after,
  colgroup *:not(col)::after,:not(colgroup)>col::after,
  tr>:not(td):not(th)::after,
  optgroup>:not(option)::after,:not(select)>optgroup::after,:not(fieldset)>legend::after,
  select>:not(option):not(optgroup)::after,:not(select):not(optgroup)>option::after,
  table>*:not(thead):not(tfoot):not(tbody):not(tr):not(colgroup):not(caption)::after {
    content: "Invalid nesting" !important;
  }
  b div::after,
  i div::after,
  q div::after,
  em div::after,
  cite div::after,
  code div::after,
  span div::after,
  small div::after,
  label div::after,
  strong div::after {
    content: "<div> in inline element" !important;
  }
  aside>aside:first-child::after,
  article>aside:first-child::after,
  aside>article:first-child::after,
  aside>section:first-child::after,
  section>section:first-child::after,
  article>section:first-child::after,
  article>article:first-child::after {
    content: "Misused sectioning tag" !important;
  }
  fieldset>*:not(legend):first-child::after,
  fieldset>legend:not(:first-child)::after {
    content: "<fieldset> must start with <legend>" !important;
  }
  details>*:not(summary):first-child::after,
  details>summary:not(:first-child)::after {
    content: "<details> must start with <summary>" !important;
  }
  img[alt=""]+::after,
  area[alt=""]+::after,
  input[type="image"][alt=""]+::after,
  embed[type="image"][alt=""]::after,
  object[type="image"][alt=""]::after {
    content: "Empty [alt]" !important;
  }
  img[alt=""][title]+::after,
  img[alt=""][aria-label]+::after,
  img[alt=""][aria-labelledby]+::after,
  img[alt=""][aria-describedby]+::after,
  svg[aria-hidden="true"][title]+::after,
  svg[aria-hidden="true"][aria-label]+::after,
  svg[aria-hidden="true"][aria-labelledby]+::after,
  svg[aria-hidden="true"][aria-describedby]+::after {
    content: "Semantic attribute on a decorative image" !important;
  }
  video[autoplay]+::after,
  audio[autoplay]+::after {
    content: "Autoplay" !important;
  }
  video:not([controls])+::after,
  audio:not([controls])+::after {
    content: "Missing [controls]" !important;
  }
  *:empty:not([class]):not([hidden]):not([aria-hidden]):not([src]):not(button):not(a):not(iframe):not(textarea):not(area):not(base):not(br):not(col):not(command):not(embed):not(hr):not(img):not(input):not(keygen):not(link):not(meta):not(param):not(source):not(track):not(wbr):not(title)::after {
    content: "Empty element" !important;
  }
  table:not([role="presentation"])>tr:only-child::after,
  table:not([role="presentation"])>tbody>tr:only-child::after {
    content: "Single row" !important;
  }
  table:not(.gsc-search-box) table::after {
    content: "Nested <table>s" !important;
  }
  table:not([role="presentation"])>caption:not(:first-child)::after,
  table:not([role="presentation"])>*:first-child:not(caption)::after {
    content: "Data table should start with <caption>" !important;
  }
  table>tfoot ~ thead::after,
  table>tbody ~ tfoot::after,
  table>tbody ~ thead::after,
  table>tfoot ~ colgroup::after,
  table>tbody ~ colgroup::after,
  table>tbody ~ colgroup::after {
    content: "Wrong order for <thead>, <tfoot> or <tbody>" !important;
  }
  table:not([role="presentation"])>caption+tbody::after,
  table:not([role="presentation"])>tbody:first-child::after {
    content: "Missing <thead>" !important;
  }
  th:not([scope]):not([id])::after {
    content: "Missing [scope] or [id]" !important;
  }
  img[src*="1px.gif"]:not([role="presentation"])+::after,
  img[src*="1x1.gif"]:not([role="presentation"])+::after,
  img[src*="clear.gif"]:not([role="presentation"])+::after,
  img[src*="spacer.gif"]:not([role="presentation"])+::after,
  img[src*="dotclear.gif"]:not([role="presentation"])+::after,
  img[src*="transparent.gif"]:not([role="presentation"])+::after,
  img[src*="pixel-1x1-clear.gif"]:not([role="presentation"])+::after {
    content: "spacer.gif" !important;
  }
  [class*="NaN"]::after,
  [class*="null"]::after,
  [class*="undefined"]::after {
    content: "Bad computed value for [class]" !important;
  }
  [id*="NaN"]::after,
  [id*="null"]::after,
  [id*="undefined"]::after {
    content: "Bad computed value for [id]" !important;
  }
  a[href^="javascript"]:not([role="button"])::after {
    content: "[href] starting with javascript:" !important;
  }
  [target$="blank"]:not([rel])::after,
  [target$="blank"]:not([rel*="noopener"])::after,
  [target$="blank"]:not([rel*="noreferrer"])::after {
    content: "Unsafe [target]" !important;
  }
  [role="heading"]:not([aria-level])::after {
    content: "No [aria-level]" !important;
  }
  label:not([for])::after {
    content: "Missing [for]" !important;
  }
  // DANGER
  [tabindex]:not([tabindex="0"]):not([tabindex^="-"]),
  a[href^="#"]:not([role="button"]):not([onclick]),
  a:not([href]),
  a[href=""]:not(.chosen-single),
  a[href=" "]:not(.chosen-single),
  a:empty[title=""],
  a:empty[aria-label=""],
  a:empty[aria-labelledby=""],
  a:empty:not([title]):not([aria-label]):not([aria-labelledby]),
  img[alt=" "],
  area[alt=" "],
  input[type="image"][alt=" "],
  img:not([alt]),
  area:not([alt]),
  input[type="image"]:not([alt]),
  [role="img"]:not([aria-label]):not([aria-labelledby]),
  svg[role="img"]:not([aria-label]):not([aria-labelledby]),
  img:not([src]):not([srcset]),
  input[type="image"]:not([src]):not([srcset]),
  img[src=""],
  img[src=" "],
  img[src="#"],
  img[src="/"],
  input[type="image"][src=""],
  input[type="image"][src=" "],
  input[type="image"][src="#"],
  input[type="image"][src="/"],
  img[srcset=""],
  img[srcset=" "],
  img[srcset="#"],
  img[srcset="/"],
  input[type="image"][srcset=""],
  input[type="image"][srcset=" "],
  input[type="image"][srcset="#"],
  input[type="image"][srcset="/"],
  label[for=""],
  label[for=" "],
  input:not([type="button"]):not([type="submit"]):not([type="hidden"]):not([type="reset"]):not([type="image"]):not([id]):not([aria-label]):not([title]):not([aria-labelledby]),
  textarea:not([id]):not([aria-label]):not([aria-labelledby]),
  select:not([id]):not([aria-label]):not([aria-labelledby]),
  input[type="reset"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]),
  input[type="submit"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]),
  input[type="button"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby]),
  button:empty:not([aria-label]):not([aria-labelledby]):not([title]),
  button[title=""],
  button[aria-label=""],
  button[aria-labelledby=""],
  button:not([type]):not([form]):not([formaction]):not([formtarget]),
  button[type="reset"][formmethod],
  button[type="reset"][formaction],
  button[type="reset"][formtarget],
  button[type="reset"][formenctype],
  button[type="reset"][formnovalidate],
  button[type="button"][formmethod],
  button[type="button"][formaction],
  button[type="button"][formtarget],
  button[type="button"][formenctype],
  button[type="button"][formnovalidate],
  button[class*="disabled"]:not([disabled]):not([readonly]),
  input:not([type]),
  input[type=" "],
  input[type=""],
  optgroup:not([label]),
  iframe:not([title]),
  iframe[title=" "],
  iframe[title=""],
  table[role="presentation"] th,
  table[role="presentation"] thead,
  table[role="presentation"] tfoot,
  table[role="presentation"] caption,
  table[role="presentation"] colgroup,
  table[role="presentation"] [axis],
  table[role="presentation"] [scope],
  table[role="presentation"] [headers],:not(img):not(object):not(embed):not(svg):not(canvas)[width],:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  area:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  area:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  base:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  base:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  br:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  br:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  col:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  col:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  command:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  command:not(img):not(object):not(embed):not(svg):not(canvas)[height],:not(img):not(object):not(embed):not(svg):not(canvas)[width] embed:not(img):not(object):not(embed):not(svg):not(canvas)[width],:not(img):not(object):not(embed):not(svg):not(canvas)[height] embed:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  hr:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  hr:not(img):not(object):not(embed):not(svg):not(canvas)[height],:not(img):not(object):not(embed):not(svg):not(canvas)[width] img:not(img):not(object):not(embed):not(svg):not(canvas)[width],:not(img):not(object):not(embed):not(svg):not(canvas)[height] img:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  input:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  input:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  keygen:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  keygen:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  link:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  link:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  param:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  param:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  source:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  source:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  track:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  track:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  wbr:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  wbr:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  textarea:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  textarea:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  select:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  select:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  audio:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  audio:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  video:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  video:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  iframe:not(img):not(object):not(embed):not(svg):not(canvas)[width],
  iframe:not(img):not(object):not(embed):not(svg):not(canvas)[height],
  [onafterprint],
  [onbeforeprint],
  [onbeforeunload],
  [onerror],
  [onhaschange],
  [onload],
  [onmessage],
  [onoffline],
  [ononline],
  [onpagehide],
  [onpageshow],
  [onpopstate],
  [onredo],
  [onresize],
  [onstorage],
  [onundo],
  [onunload],
  [onblur],
  [onchage],
  [oncontextmenu],
  [onfocus],
  [onformchange],
  [onforminput],
  [oninput],
  [oninvalid],
  [onreset],
  [onselect],
  [onsubmit],
  [onkeydown],
  [onkeypress],
  [onkeyup],
  [onclick],
  [ondblclick],
  [ondrag],
  [ondragend],
  [ondragenter],
  [ondragleave],
  [ondragover],
  [ondragstart],
  [ondrop],
  [onmousedown],
  [onmousemove],
  [onmouseout],
  [onmouseover],
  [onmouseup],
  [onmousewheel],
  [onscroll],
  [onabort],
  [oncanplay],
  [oncanplaythrough],
  [ondurationchange],
  [onemptied],
  [onended],
  [onloadeddata],
  [onloadedmetadata],
  [onloadstart],
  [onpause],
  [onplay],
  [onplaying],
  [onprogress],
  [onratechange],
  [onreadystatechange],
  [onseeked],
  [onseeking],
  [onstalled],
  [onsuspend],
  [ontimeupdate],
  [onvolumechange],
  [onwaiting],
  [dir]:not([dir="rtl"]):not([dir="ltr"]):not([dir="auto"]),
  [accesskey],
  [type="radio"]:not([name]),
  [type="checkbox"]:not(:only-of-type):not([name]),
  [type="radio"],
  a.format-link:not([role="button"]),
  a.bad-link:not([role="button"]),
  a.short-link:not([role="button"]),
  a a[href],
  button a[href],
  a audio[controls],
  button audio[controls],
  a video[controls],
  button video[controls],
  a button,
  button button,
  a details,
  button details,
  a embed,
  button embed,
  a iframe,
  button iframe,
  a img[usemap],
  button img[usemap],
  a label,
  button label,
  a select,
  button select,
  a textarea,
  button textarea,
  a input[type]:not([hidden]),
  button input[type]:not([hidden]),
  form form,
  label label,
  meter meter,
  progress progress,
  h3[class*="should-be-"],
  h4[class*="should-be-"],
  h5[class*="should-be-"],
  h6[class*="should-be-"],
  h2 + h2,
  h3 + h2,
  h3 + h3,
  h4 + h2,
  h4 + h3,
  h4 + h4,
  h5 + h2,
  h5 + h3,
  h5 + h4,
  h5 + h5,
  h6 + h2,
  h6 + h3,
  h6 + h4,
  h6 + h5,
  h6 + h6 {
    outline: 3px solid $danger !important;
    &::after {
      background: $danger !important;
      color: $black !important;
      contain: content;
      font: 500 normal 1em sans-serif !important;
      padding: 3px 3px 0 !important;
      margin-left: 3px !important;
      pointer-events: none !important;
      text-decoration: none !important;
      z-index: 2147483644 !important;
    }
  }
  a[href^="#"]:not([role="button"]):not([onclick])::after,
  a:not([href])::after {
    content: "Link has no URL" !important;
  }
  a.format-link:not([role="button"])::after {
    content: "Link text must include format\2014 e.g., \"(PDF)\"; size info optional\2014 e.g., \"(Word, 5 pages)\" or \"(YouTube, 45 minutes)\"" !important;
  }
  a.bad-link:not([role="button"])::after {
    content: "Link text must describe destination" !important;
  }
  a.short-link:not([role="button"])::after {
    content: "Link text too short and must describe destination" !important;
  }
  [tabindex]:not([tabindex="0"]):not([tabindex^="-"])::after {
    content: "Disrupting tab order" !important;
  }
  a[href=""]:not(.chosen-single)::after,
  a[href=" "]:not(.chosen-single)::after {
    content: "Empty [href]" !important;
  }
  a:empty[title=""]::after,
  a:empty[aria-label=""]::after,
  a:empty[aria-labelledby=""]::after,
  a:empty:not([title]):not([aria-label]):not([aria-labelledby])::after {
    content: "Empty link" !important;
  }
  h2 + h2,
  h3 + h2,
  h3 + h3,
  h4 + h2,
  h4 + h3,
  h4 + h4,
  h5 + h2,
  h5 + h3,
  h5 + h4,
  h5 + h5,
  h6 + h2,
  h6 + h3,
  h6 + h4,
  h6 + h5,
  h6 + h6 {
    &::after {
      content: "Remove empty heading above or add content" !important;
    }
  }
  h3.should-be-h2,
  h4.should-be-h2,
  h5.should-be-h2,
  h6.should-be-h2 {
    &::after {
      content: "Headings must start at level 2" !important;
    }
  }
  h4.should-be-h3,
  h5.should-be-h3,
  h6.should-be-h3 {
    &::after {
      content: "Headings may not skip levels; should be level 3" !important;
    }
  }
  h5.should-be-h4,
  h6.should-be-h4 {
    &::after {
      content: "Headings may not skip levels; should be level 4" !important;
    }
  }
  h6.should-be-h5 {
    &::after {
      content: "Headings may not skip levels; should be level 5" !important;
    }
  }
  img[alt=" "]+::after,
  area[alt=" "]+::after,
  input[type="image"][alt=" "]+::after,
  img:not([alt])+::after,
  area:not([alt])+::after,
  input[type="image"]:not([alt])+::after {
    content: "Missing [alt]" !important;
  }
  [role="img"]:not([aria-label]):not([aria-labelledby])::after {
    content: "Missing [aria-label] and [aria-labelledby]" !important;
  }
  svg[role="img"]:not([aria-label]):not([aria-labelledby])+::after {
    content: "Missing [aria-label] and [aria-labelledby]" !important;
  }
  img:not([src]):not([srcset])::after,
  input[type="image"]:not([src]):not([srcset])::after {
    content: "Missing source" !important;
  }
  img[src=""]::after,
  img[src=" "]::after,
  img[src="#"]::after,
  img[src="/"]::after,
  input[type="image"][src=""]::after,
  input[type="image"][src=" "]::after,
  input[type="image"][src="#"]::after,
  input[type="image"][src="/"]::after {
    content: "Invalid [src]" !important;
  }
  img[srcset=""]::after,
  img[srcset=" "]::after,
  img[srcset="#"]::after,
  img[srcset="/"]::after,
  input[type="image"][srcset=""]::after,
  input[type="image"][srcset=" "]::after,
  input[type="image"][srcset="#"]::after,
  input[type="image"][srcset="/"]::after {
    content: "Invalid [srcset]" !important;
  }
  label[for=""]::after,
  label[for=" "]::after {
    content: "Empty [for]" !important;
  }
  input:not([type="button"]):not([type="submit"]):not([type="hidden"]):not([type="reset"]):not([type="image"]):not([id]):not([aria-label]):not([title]):not([aria-labelledby])+::after,
  textarea:not([id]):not([aria-label]):not([aria-labelledby])+::after,
  select:not([id]):not([aria-label]):not([aria-labelledby])+::after {
    content: "Unlabelled field" !important;
  }
  input[type="reset"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby])+::after,
  input[type="submit"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby])+::after,
  input[type="button"]:not([value]):not([title]):not([aria-label]):not([aria-labelledby])+::after {
    content: "Untitled input" !important;
  }
  button:empty:not([aria-label]):not([aria-labelledby]):not([title])::after {
    content: "Empty and untitled button" !important;
  }
  button[title=""]::after {
    content: "Empty [title]" !important;
  }
  button[aria-label=""]::after {
    content: "Empty [aria-label]" !important;
  }
  button[aria-labelledby=""]::after {
    content: "Empty [aria-labelledby]" !important;
  }
  button:not([type]):not([form]):not([formaction]):not([formtarget])::after {
    content: "Missing [type]" !important;
  }
  button[type="reset"][formmethod]::after,
  button[type="reset"][formaction]::after,
  button[type="reset"][formtarget]::after,
  button[type="reset"][formenctype]::after,
  button[type="reset"][formnovalidate]::after,
  button[type="button"][formmethod]::after,
  button[type="button"][formaction]::after,
  button[type="button"][formtarget]::after,
  button[type="button"][formenctype]::after,
  button[type="button"][formnovalidate]::after {
    content: "[type=" attr(type) "] shouldn’t have form submission attributes" !important;
  }
  button[class*="disabled"]:not([disabled]):not([readonly])::after {
    content: "Use [disabled] or [readonly]" !important;
  }
  input:not([type])+::after,
  input[type=" "]+::after,
  input[type=""]+::after {
    content: "Missing [type]" !important;
  }
  optgroup:not([label])+::after {
    content: "<optgroup> without [label]" !important;
  }
  iframe:not([title])+::after,
  iframe[title=" "]+::after,
  iframe[title=""]+::after {
    content: "Missing [title] for <iframe>" !important;
  }
  table[role="presentation"] th::after,
  table[role="presentation"] thead::after,
  table[role="presentation"] tfoot::after,
  table[role="presentation"] caption::after,
  table[role="presentation"] colgroup::after,
  table[role="presentation"] [axis]::after,
  table[role="presentation"] [scope]::after,
  table[role="presentation"] [headers]::after {
    content: "Semantic thing in layout table" !important;
  }
  :not(img):not(object):not(embed):not(svg):not(canvas)[width]::after,:not(img):not(object):not(embed):not(svg):not(canvas)[height]::after {
    content: "[width] & [height] are forbidden" !important;
  }
  area:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  area:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  base:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  base:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  br:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  br:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  col:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  col:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  command:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  command:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,:not(img):not(object):not(embed):not(svg):not(canvas)[width] embed:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,:not(img):not(object):not(embed):not(svg):not(canvas)[height] embed:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  hr:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  hr:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,:not(img):not(object):not(embed):not(svg):not(canvas)[width] img:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,:not(img):not(object):not(embed):not(svg):not(canvas)[height] img:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  input:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  input:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  keygen:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  keygen:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  link:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  link:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  param:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  param:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  source:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  source:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  track:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  track:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  wbr:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  wbr:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  textarea:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  textarea:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  select:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  select:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  audio:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  audio:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  video:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  video:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after,
  iframe:not(img):not(object):not(embed):not(svg):not(canvas)[width]+::after,
  iframe:not(img):not(object):not(embed):not(svg):not(canvas)[height]+::after {
    content: "[width] & [height] are forbidden" !important;
  }
  [onafterprint]::after,
  [onbeforeprint]::after,
  [onbeforeunload]::after,
  [onerror]::after,
  [onhaschange]::after,
  [onload]::after,
  [onmessage]::after,
  [onoffline]::after,
  [ononline]::after,
  [onpagehide]::after,
  [onpageshow]::after,
  [onpopstate]::after,
  [onredo]::after,
  [onresize]::after,
  [onstorage]::after,
  [onundo]::after,
  [onunload]::after,
  [onblur]::after,
  [onchage]::after,
  [oncontextmenu]::after,
  [onfocus]::after,
  [onformchange]::after,
  [onforminput]::after,
  [oninput]::after,
  [oninvalid]::after,
  [onreset]::after,
  [onselect]::after,
  [onsubmit]::after,
  [onkeydown]::after,
  [onkeypress]::after,
  [onkeyup]::after,
  [onclick]::after,
  [ondblclick]::after,
  [ondrag]::after,
  [ondragend]::after,
  [ondragenter]::after,
  [ondragleave]::after,
  [ondragover]::after,
  [ondragstart]::after,
  [ondrop]::after,
  [onmousedown]::after,
  [onmousemove]::after,
  [onmouseout]::after,
  [onmouseover]::after,
  [onmouseup]::after,
  [onmousewheel]::after,
  [onscroll]::after,
  [onabort]::after,
  [oncanplay]::after,
  [oncanplaythrough]::after,
  [ondurationchange]::after,
  [onemptied]::after,
  [onended]::after,
  [onerror]::after,
  [onloadeddata]::after,
  [onloadedmetadata]::after,
  [onloadstart]::after,
  [onpause]::after,
  [onplay]::after,
  [onplaying]::after,
  [onprogress]::after,
  [onratechange]::after,
  [onreadystatechange]::after,
  [onseeked]::after,
  [onseeking]::after,
  [onstalled]::after,
  [onsuspend]::after,
  [ontimeupdate]::after,
  [onvolumechange]::after,
  [onwaiting]::after {
    content: "JavaScript event attribute" !important;
  }
  [dir]:not([dir="rtl"]):not([dir="ltr"]):not([dir="auto"])::after {
    content: "Invalid [dir]" !important;
  }
  [accesskey]::after {
    content: "[accesskey]" !important;
  }
  [type="radio"]:not([name])+::after,
  [type="checkbox"]:not(:only-of-type):not([name])+::after {
    content: "Missing [name]" !important;
  }
  [type="radio"]+::after {
    content: "[radio] outside any <fieldset>" !important;
  }
  a a[href]::after,
  button a[href]::after,
  a audio[controls]::after,
  button audio[controls]::after,
  a video[controls]::after,
  button video[controls]::after,
  a button::after,
  button button::after,
  a details::after,
  button details::after,
  a embed::after,
  button embed::after,
  a iframe::after,
  button iframe::after,
  a img[usemap]::after,
  button img[usemap]::after,
  a label::after,
  button label::after,
  a select::after,
  button select::after,
  a textarea::after,
  button textarea::after,
  a input[type]:not([hidden])::after,
  button input[type]:not([hidden])::after,
  form form::after,
  label label::after,
  meter meter::after,
  progress progress::after {
    content: "Nested interactive elements" !important;
  }
}
